<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/mainpage/default-layout}">
<head>
    <meta charset="UTF-8">
    <title>주문 페이지</title>

    <script src="/payment/js/payment.js"></script>
    <!-- Sweet Alert-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://js.tosspayments.com/v1/payment-widget"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="/mainpage/css/orderSheet.css">
    <link rel="stylesheet" href="/adminpage/member/css/memberlist.css">

</head>
<body>

<div layout:fragment="content">
    <div class="order-title"><b>주 문</b> 하 기</div>
    <form id="orderForm"
          class="product-info" method="post" th:object="${orderAddRequestDto}">
        <div class="product-box">
            <div class="box-title table">주문 상품 정보</div>
            <div class="container bootstrap snippets bootdey">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-box no-header clearfix">
                            <div class="main-box-body clearfix">
                                <div class="table-responsive">
                                    <table>
                                        <tr>
                                            <th>
                                                상품명
                                            </th>
                                            <th>
                                                정가
                                            </th>
                                            <th>
                                                판매가
                                            </th>
                                            <th>
                                                수량
                                            </th>
                                            <th>
                                                합계
                                            </th>
                                        </tr>
                                        <tr th:each="product : ${productDetailsList}">
                                            <td>
                                                <input class="no-input" type="hidden" name="productNoList"
                                                       th:value="${product.productNo}">
                                                <span th:text="${product.productName}"></span>
                                            </td>
                                            <td>
                                                <input class="no-input" type="text"
                                                       th:value="${product.fixedPrice}"
                                                       readonly>
                                            </td>
                                            <td>
                                                <input class="no-input" type="text"
                                                       th:value="${product.selledPrice}"
                                                       readonly>
                                            </td>
                                            <td>
                                                <input class="no-input" name="productCntList"
                                                       type="text" th:value="${productCntQueue.peek()}">
                                            </td>
                                            <td>
                                                <input class="no-input" type="text"
                                                       th:value="${product.selledPrice} * ${productCntQueue.poll()}"
                                                       readonly>
                                            </td>
                                        </tr>
                                    </table>
<!--                                   회원은 20000원 이상 주문시 배송비 무료 -->
                                    <div>배송비: 3000원</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="address-box">
            <div class="box-title">배송지 정보 입력</div>
            <div class="box-content">
                <br/>

                <div class="address-tab">
                    <div class="button-tabs">
                        <button type="button" id="member-address-tab" class="btn btn-primary">배송지 선택</button>
                        <button type="button" id="direct-address-tab" class="btn btn-primary">직접 입력</button>
                    </div>
                    <th:block sec:authorize="isAuthenticated()" th:if="${!memberDestinationList.isEmpty()}">
                        <div th:each="dst : ${memberDestinationList}">
                            <input type="radio" name="address-radio" id="select-address">
                            <label for="select-address">
                                <input type="number" readonly placeholder="우편번호"
                                       name="postcode"
                                       th:value="${dst.postcode}">
                                <input type="text" size="50" readonly placeholder="도로명주소"
                                       name="roadNameAddress"
                                       th:value="${dst.roadNameAddress}">
                                <input type="text" size="30" placeholder="상세주소"
                                       name="recipientAddressDetails"
                                       th:value="${dst.recipientAddressDetails}" readonly>
                                <input type="text" placeholder="수령인 이름"
                                       name="recipientName"
                                       th:value="${dst.recipientName}">
                                <input type="text" placeholder="수령인 연락처"
                                       name="recipientPhoneNumber"
                                       th:value="${dst.recipientPhoneNumber}">
                            </label>
                        </div>
                    </th:block>
                </div>

                <div class="address-tab">
                    <input type="number" id="sample4_postcode" readonly placeholder="우편번호"
                           name="postcode">
                    <input class="btn-dark" type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기">
                    <input type="text" size="50" id="sample4_roadAddress" readonly placeholder="도로명주소"
                           name="roadNameAddress">
                    <input type="text" id="sample4_detailAddress" size="30" placeholder="상세주소"
                           name="recipientAddressDetails">
                    <input type="text" placeholder="수령인 이름"
                           name="recipientName">
                    <input type="text" placeholder="수령인 연락처"
                           name="recipientPhoneNumber">
                </div>

            </div>
        </div>
        <div class="delivery-box">
            <div class="box-title">배송 희망일 선택</div>
            <div class="box-content">
                <div>날짜를 선택하세요:
                    <input type="date" id="currentDate" name="selectedDeliveryDate">
                    <p>
                        날씨나 택배사 사정에 따라 배송이 지연될 수 있습니다.
                    </p>
                </div>
            </div>
            <br>
        </div>

        <button class="btn btn-info" id="paymentButton" type="button" onclick="createOrderForPayment()">
            결제하기
        </button>
<!--        <button class="btn btn-info" type="button" onclick="doPaymentProcessByVirtualAccount()">-->
<!--            가상계좌 결제-->
<!--        </button>-->
        <!--    all box end-->
    </form>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <script>
        let currentDate = new Date;
        let maxDate = new Date;
        maxDate.setDate(currentDate.getDate() + 30);
        document.getElementById('currentDate').value = currentDate.toISOString().slice(0, 10);
        document.getElementById('currentDate').min = currentDate.toISOString().slice(0, 10);
        document.getElementById('currentDate').max = maxDate.toISOString().slice(0, 10);
    </script>
    <script>
        //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
        function sample4_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function (data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    let roadAddr = data.roadAddress; // 도로명 주소 변수
                    let extraRoadAddr = ''; // 참고 항목 변수

                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraRoadAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if (extraRoadAddr !== '') {
                        extraRoadAddr = ' (' + extraRoadAddr + ')';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('sample4_postcode').value = data.zonecode;
                    document.getElementById("sample4_roadAddress").value = roadAddr;
                }
            }).open();
        }
    </script>
    <script th:inline="javascript">

        let canceledOrderNo = null;

        let temp = [[${orderAddRequestDto}]];

        async function createOrderForPayment() {

            if(canceledOrderNo) {
                return
            }

            let orderAddRequestDto = {
                "productNoList": temp.productNoList,
                "productCntList": temp.productCntList,
                "postcode": parseInt(document.getElementsByName("postcode")[0].value),
                "recipientName": document.getElementsByName("recipientName")[0].value,
                "recipientPhoneNumber": document.getElementsByName("recipientPhoneNumber")[0].value,
                "roadNameAddress": document.getElementsByName("roadNameAddress")[0].value,
                "recipientAddressDetails": document.getElementsByName("recipientAddressDetails")[0].value,
                "selectedDeliveryDate": document.getElementsByName("selectedDeliveryDate")[0].value,
                "deliveryFee": 0
            }

            await fetch(`/async/orders/payment-start`, {

                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(orderAddRequestDto)
            })
                .then(response => response.json())
                .then(data => {
                    doPaymentProcessByCard(data);
                })
        }

        function doPaymentProcessByCard(data) {
            const clientKey = 'test_ck_N5OWRapdA8d7MGGao2Pro1zEqZKL';
            var tossPayments = TossPayments(clientKey);

            tossPayments.requestPayment('카드', { // 결제 수단 파라미터
                // 결제 정보 파라미터
                amount: data.amount,
                orderId: data.orderId,
                orderName: data.orderName,
                successUrl: data.successUrl,
                failUrl: data.failUrl,
            })
                .catch(function (error) {

                    if (error.code === 'USER_CANCEL') {
                        Swal.fire(
                            '결제가 취소되었습니다.',
                            '',
                            'error',
                        );
                    } else if (error.code === 'DUPLICATED_ORDER_ID') {
                        Swal.fire(
                            '이미 승인 및 취소가 진행된 중복된 주문번호 입니다.',
                            '',
                            'error',
                        );
                    } else if (error.code === 'INVALID_CARD_COMPANY') {
                        Swal.fire(
                            '결제가 사용자에 의해 취소되었습니다.',
                            '',
                            'error',
                        );
                    } else if (error.code === 'PAY_PROCESS_CANCELED') {
                        Swal.fire(
                            '결제가 취소되었습니다.',
                            '',
                            'error',
                        );
                        alert("유효하지 않은 카드 코드입니다.");
                    } else {
                        console.log(error.code)
                    }
                })
        }

        async function cancelOrderForPayment(orderNo) {
            await fetch(`async/orders/payment-cancel/${orderNo}`, {

                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                // 성공적으로 취소 되었다면 204(void 반환값이 204). ok 범위는 200~299
                .then(response => {
                    if(response.ok) {
                        canceledOrderNo = orderNo;
                    }
                });
        }
    </script>
</div>
</body>
</html>