<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>구독 주문</title>
</head>
<body>
<form method="post" th:action="@{/order-sheet/subscription}">
    <input type="hidden" name="productNoList" th:value="${productNo}">
    <input type="hidden" name="productCntList" th:value="${productCnt}">

    <fieldset>
        <label>
            <input type="radio" name="subscriptionPeriod" value="6" checked>
            6개월
        </label>
        <label>
            <input type="radio" name="subscriptionPeriod" value="12">
            1년
        </label>
        <div>가격: <span></span>원</div>
    </fieldset>

    <button>계속 주문</button>
</form>
</body>
</html>