<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="header" th:fragment="header-fragment">
    <div class="header_columns">
        <div class = "header_columns_column">
            <a href = "/">메인홈</a>
        </div>

        <div class="header_columns_column">
            <a href="#">관리자 페이지</a>
        </div>

        <div class="header_columns_column">
            <a href="#">마이페이지</a>
        </div>

        <div class="header_columns_column">
            <a href="#">로그아웃</a>
        </div>

        <div class="header_columns_column">
            <a href="">로그인</a>
        </div>

        <div class="header_columns_column">
            <a href="#">회원가입</a>
        </div>

        <div class="header_columns_column">
            <a href="#">고객센터</a>
        </div>
    </div>
    <div>
        <p>&nbsp;</p>
    </div>
</div>
</body>
</html>