<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="mypage-css-fragment">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/common/js/validation.js"></script>

        <!--My page css-->
        <link rel="stylesheet" href="/mypage/css/index.css">
        <link rel="stylesheet" href="/mypage/css/sidebar.css">
        <link rel="stylesheet" href="/mypage/css/global.css">

        <!--Admin page css-->
        <link rel="stylesheet" href="/mypage/css/header.css">

        <!--Main page css-->
        <link rel="stylesheet" href="/mainpage/css/logo.css">

        <!-- Cart css -->
        <link rel="stylesheet" href="/cart/css/cart.css">

    </div>
</head>
<body>
</body>
</html>