<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="mypage-css-fragment">
        <!--My page css-->
        <link rel="stylesheet" href="/mypage/css/index.css">
        <link rel="stylesheet" href="/mypage/css/sidebar.css">
        <link rel="stylesheet" href="/mypage/css/global.css">

        <!--Admin page css-->
        <link rel="stylesheet" href="/adminpage/css/header.css">

        <!--Main page css-->
        <link rel="stylesheet" href="/mainpage/css/logo.css">

    </div>
</head>
<body>
</body>
</html>