<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div th:fragment="side-menu-fragment">
    <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
        <div>
            <h3><a style="text-decoration : none; color: black;" href="/mypage">마이페이지</a></h3>
        </div>
        <ul class="list-unstyled ps-0" style="color: #000000">
            <li class="border-top my-3"></li>
            <li class="mb-1" onclick="location.href='/mypage/members/me/info'">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#dashboard-collapse" aria-expanded="false">
                    회원정보수정
                </button>
            </li>
            <li class="mb-1" onclick="location.href='/mypage/membership/history'">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#dashboard-collapse" aria-expanded="false">
                    등급조회
                </button>
            </li>
            <li class="mb-1" onclick="location.href='/mypage/members/me/destinations'">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#dashboard-collapse" aria-expanded="false">
                    배송지관리
                </button>
            </li>
            <li class="mb-1" onclick="clickOrderMenu(this)">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#dashboard-collapse" aria-expanded="false">
                    주문/배송조회
                </button>
            </li>
            <li class="mb-1" onclick="clickReviewMenu(this)">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#dashboard-collapse" aria-expanded="false">
                    리뷰관리
                </button>
            </li>
            <li class="mb-1" onclick="clickProductInquiry(this)">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#dashboard-collapse" aria-expanded="false">
                    상품문의관리
                </button>
            </li>
            <li class="mb-1" onclick="location.href='/mypage/bookmark'">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#dashboard-collapse" aria-expanded="false">
                    즐겨찾기
                </button>
            </li>
            <li class="mb-1" onclick="clickPointMenu(this)">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#dashboard-collapse" aria-expanded="false">
                    포인트
                </button>
            </li>
            <li class="mb-1" onclick="location.href='/mypage/coupons/coupon-issues/all'">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#dashboard-collapse" aria-expanded="false">
                    쿠폰
                </button>
            </li>
            <li class="mb-1" onclick="location.href='/mypage/members/withdraw'">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#dashboard-collapse" aria-expanded="false">
                    회원탈퇴
                </button>
            </li>
            <li class="border-top my-3"></li>
        </ul>
    </div>
    <script src="/mypage/member/js/mypageMemberSideMenuList.js"></script>

</div>

</body>
</html>