<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div th:fragment="side-menu-fragment">
    <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
        <div>
            <h3><a style="text-decoration : none; color: black;" href="/mypage">Itbook 마이 페이지</a></h3>
        </div>
        <ul class="list-unstyled ps-0">
            <li class="border-top my-3"></li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#dashboard-collapse" aria-expanded="false">
                    <a href="/mypage/members/me/info">
                        회원정보수정
                    </a>
                </button>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#dashboard-collapse" aria-expanded="false">
                    <a href="/mypage/membership/history">
                        등급조회
                    </a>
                </button>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#dashboard-collapse" aria-expanded="false">
                    <a href="/mypage/members/me/destinations">
                        배송지관리
                    </a>
                </button>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#dashboard-collapse" aria-expanded="false" onclick="clickOrderMenu(this)">
                    주문/배송조회
                </button>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#dashboard-collapse" aria-expanded="false" onclick="clickReviewMenu(this)">
                    리뷰관리
                </button>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#dashboard-collapse" aria-expanded="false" onclick="clickProductInquiry(this)">
                    상품문의관리
                </button>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#dashboard-collapse" aria-expanded="false">
                    <a href="/mypage/bookmark">
                    즐겨찾기
                    </a>
                </button>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#dashboard-collapse" aria-expanded="false" onclick="clickPointMenu(this)">
                    포인트
                </button>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#dashboard-collapse" aria-expanded="false">
                    <a href="/mypage/coupons/coupon-issues/all">
                    쿠폰
                    </a>
                </button>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#dashboard-collapse" aria-expanded="false">
                    재입고알림신청
                </button>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#dashboard-collapse" aria-expanded="false">
                    고객문의
                </button>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#dashboard-collapse" aria-expanded="false">
                    고객서비스
                </button>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#dashboard-collapse" aria-expanded="false">
                    <a href="/mypage/members/withdraw">
                        회원탈퇴
                    </a>
                </button>
            </li>
            <li class="border-top my-3"></li>
        </ul>
    </div>
    <script src="/mypage/member/js/mypageMemberSideMenuList.js"></script>

</div>

</body>
</html>