<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminpage/default-layout}">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지 - 주문 목록</title>
</head>
<body>
<div layout:fragment="content">
    <div class="content">
        <h3>Itbook 주문 관리</h3>
        <button class="btn btn-primary" th:onclick="|location.href='@{/admin/deliveries}'|">배송 관리</button>
        <table>
            <thead>
            <tr>
                <td>주문 번호</td>
                <td>회원 아이디</td>
                <td>주문 상태</td>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>