<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminpage/default-layout}">
<head>
    <link rel="stylesheet" href="/adminpage/member/css/memberlist.css">

    <meta charset="UTF-8">
    <title>관리자 페이지 - 주문 목록</title>
</head>
<body>
<div layout:fragment="content">
    <div class="content">
        <h2>일반 상품 주문 관리</h2>
        <div class="snippets bootdey">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-box no-header clearfix">
                        <div class="main-box-body clearfix">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr  style="text-align: center">
                                        <th style="width: 7%"><span>주문번호</span></th>
                                        <th><span>제품명</span></th>
                                        <th><span>주문일자</span></th>
                                        <th><span>수령인</span></th>
                                        <th><span>상태</span></th>
                                        <th style="width: 7%"><span>송장번호</span></th>
                                        <th style="width: 7%"><span>회원 ID</span></th>
                                        <th>상세</th>
<!--                                        <th style="width: 7%">주문취소</th>-->
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="ord : ${pageResponse.content}">
                                        <td  style="text-align: center" th:text="${ord.orderNo}"></td>
                                        <td style="text-align: left">
                                            <span th:text="${ord.productName}"></span>
                                        </td>
                                        <td style="text-align: center">
                                            <span th:text="${#temporals.format(ord.orderCreatedAt, 'yyyy년 MM월 dd일 HH:mm:ss')}"></span>
                                        </td>
                                        <td style="text-align: center">
                                            <span th:text="${ord.recipientName}"></span>
                                        </td>
                                        <td style="text-align: center">
                                            <span class="badge text-bg-primary"
                                                  th:text="${ord.orderStatus}"></span>
                                        </td>
                                        <td style="text-align: center">
                                            <span th:if="${ord.trackingNo == null}">
                                                미발급
                                            </span>
                                            <span th:text="${ord.trackingNo}"></span>
                                        </td>
                                        <td style="text-align: center">
                                            <span th:if="${ord.memberId == null}">
                                                비회원
                                            </span>
                                            <span th:text="${ord.memberId}"></span>
                                        </td>
                                        <td style="width: 5%; text-align: center;">
                                            <span class="fa-stack">
                                        <a th:href="@{/admin/orders/details/{orderNo}(orderNo=${ord.orderNo})}">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                            </a>
                                            </span>
                                        </td>
<!--                                        <td style="text-align: center">-->
<!--                                            &lt;!&ndash;                                            <a th:if="${#strings.equals(ord.orderStatus, '결제 완료')}"&ndash;&gt;-->
<!--                                            &lt;!&ndash;                                            <a&ndash;&gt;-->
<!--                                            &lt;!&ndash;                                               th:href="@{/payment/cancel/ord.orderNo}">&ndash;&gt;-->
<!--                                            <button th:orderNo="${ord.orderNo}"-->
<!--                                                    class="btn btn-danger"-->
<!--                                                    onclick="getInputCancelReason(this.getAttribute('orderNo'),false)">취소-->
<!--                                            </button>-->
<!--                                            &lt;!&ndash;                                            </a>&ndash;&gt;-->
<!--                                        </td>-->
                                        <!-- TODO 주문상태가 구매확정일때만 리뷰쓰기 버튼 나타나게 수정하기 -->
                                        <!-- TODO 주문 상세 페이지 만들어지면 그 페이지에서 리뷰쓰기 버튼 활성화 시키기 -->
                                        <td style="text-align: center">
                                            <div th:if="${ord.orderStatus} == '입금완료'">
                                                <button class="btn btn-primary">리뷰쓰기</button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        let failMessage = [[${failMessage}]];
        if (failMessage) {
            alert(failMessage);
        }
    </script>
    <script src="/order/js/myOrderList.js"></script>

    <th:block th:include="component/pageFooter"></th:block>
</div>
</body>
</html>