<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminpage/default-layout}">
<head>
    <meta charset="UTF-8">
    <title>categoryAddForm</title>
    <link rel="stylesheet" type="text/css" href="/review/css/reviewForm.css">
</head>

<div layout:fragment="content">
    <div id="form-main">
        <div id="form-div">
            <form class="form" method="post" action="/categories">
                <p class="name">
                    <input name="name" type="text"
                           class="validate[required,custom[onlyLetter],length[0,20]] feedback-input" placeholder="Name"
                           id="name"/>
                </p>
                <input name="parentCategoryNo" type="hidden" th:value="${parentCategoryNo}">
                <input type="submit" value="대분류로 등록" id="main-category-submit"/>
                <input type="button" value="소분류로 등록" id="sub-category-button" />
            </form>
        </div>
    </div>

    <script th:src="@{/category/js/categoryAdmin.js}"></script>
</div>

</html>