<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mypage/default-layout}">
<head>
    <title>마이페이지</title>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
</head>
<body>
<div layout:fragment="content">
    <div class="content">
        <h2>마이페이지</h2>
        <div th:if="${isWriter} == true">
            <i class="fa-solid fa-pen-nib"></i>
            <span th:text="${name} + ' 작가님'"></span><br>
        </div>
        <hr>
        <h4>나의 포인트</h4><br>
        <span th:text="${memberId}"></span> 님의 현재 포인트는 <span th:text="${recentlyPoint}"></span>p 입니다.
        <hr>
    </div>
</div>
</body>
</html>