<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragment/common/head :: bootstrap-head-fragment"></div>
    <div th:replace="fragment/mainpage/head :: main-head-fragment"></div>
    <div th:replace="fragment/mypage/head :: mypage-css-fragment"></div>
</head>
<body>
<div>


    <th:block th:replace="fragment/mainpage/header :: header-fragment">
    </th:block>
    <div class="flex-content">
        <th:block th:replace="fragment/mypage/side-menu :: side-menu-fragment">
        </th:block>
        <div layout:fragment="content" class="main-content w-100">
        </div>
    </div>
    <div th:replace="fragment/common/footer :: footer-fragment"></div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/cart/js/cartHeader.js"></script>
</div>
</body>
</html>