<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminpage/default-layout}">

<head>
    <script src="/product/js/admin-product.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <style>
        #form-product {
            float: left;
        }

        #form-book {
            float: left;
            margin-left: 30px;
        }
    </style>
    <meta charset="UTF-8">
    <title>도서 등록</title>
</head>
<body>
<div layout:fragment="content">

    <h2> 도서 등록 </h2>

    <hr>

    <div class="form">
        <form class="form-horizontal" id="addBookForm" name="form" method="post" action="/admin/products/books/add"
              enctype="multipart/form-data" modelattribute="requestDto" onSubmit="return addBookSubmit()">
            <div>
                <div id="form-product" style="width: 50%">
                    <div class="row gx-3 mb-3">
                        <div class="col-md-9">
                            <label for="isbn">isbn</label>
                            <input id="isbn" name="isbn" class="form-control input-md" required="" type="text">
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-secondary" id="confirmBook"
                                    onclick="showSearchResults(event)">
                                검색
                            </button>
                        </div>
                    </div>
                    <div class="row gx-3 mb-3" style="display: none" id="search-results">
                        <div class="col-md-12" id="bookList">
                            <span class="col-md-8" id="isbnSuccessful" style="display:none;">등록 가능한 도서입니다.</span>
                            <span class="col-md-8" id="isbnFailed" style="display:none;">이미 등록 되어 있거나 없는 도서입니다.</span>
                            <button type="button" class="btn btn-warning btn-sm"
                                    onclick="retypeFn('isbn', 'isbnSuccessful', 'isbnFailed', 'confirmBook', 'isbnRetypeBtn')"
                                    id="isbnRetypeBtn" style="visibility:hidden; margin-top: 10px">다시 입력
                            </button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="productName">상품명</label>
                        <input id="productName" name="productName" class="form-control input-md" required=""
                               type="text" placeholder="등록할 상품명을 입력하세요">
                    </div>

                    <div class="mb-3">
                        <label for="simpleDescription">간단 설명</label>
                        <textarea id="simpleDescription" name="simpleDescription"
                                  class="form-control input-md" required="" type="text"
                                  placeholder="상품에 대한 간단한 설명을 입력하세요"
                                  rows="4" cols="50"></textarea>
                    </div>


                    <div class="mb-3">
                        <label for="detailsDescription">상세 설명</label>
                        <textarea class="form-control" id="detailsDescription" name="detailsDescription"
                                  placeholder="상품에 대한 상세한 설명을 입력하세요" rows="5" cols="50"></textarea>
                    </div>

                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label>상품 노출 여부 (판매 여부)</label>
                            <fieldset>
                                YES <input type="radio" name="isSelled" required="" value="true" checked/>
                                NO <input type="radio" name="isSelled" required="" value="false"/>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <label>강제 품절 설정 여부</label>
                            <fieldset>
                                YES <input type="radio" name="isForceSoldOut" required="" value="true"/>
                                NO <input type="radio" name="isForceSoldOut" required="" value="false" checked/>
                            </fieldset>
                        </div>
                    </div>

                    <div class="row gx-3 mb-3">
                        <div class="col-md-8">
                            <div class="row gx-3 mb-3">
                                <div class="col-md-7">
                                    <label style="margin-right: 5px">카테고리</label>
                                    <select id="mainCategory" name="mainCategory">
                                        <!--                        <option th:value="select" th:text="선택"></option>-->
                                        <option th:each="mainCategory: ${mainCategoryList}"
                                                th:value="${mainCategory.categoryNo}"
                                                th:text="${mainCategory.categoryName}">
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-5">
                                    <button style="margin-left: 5px" class="btn btn-light btn-sm"
                                            onclick="showSubCategory(event)">하위 카테고리 펼치기
                                    </button>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div id="categoryCheckBox" style="display:none">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-3">
                            <label>포인트 적립 여부</label>
                            <fieldset>
                                YES <input type="radio" name="isPointApplying" value="true"
                                           onclick="selectPointApplying()" required="" checked/>
                                NO <input type="radio" name="isPointApplying" value="false" required=""
                                          onclick="notSelectPointApplying()"/>
                            </fieldset>
                        </div>
                        <div class="col-md-3" id="increasingPoint-div">
                            <label for="increasePointPercent">포인트 적립율(%)</label>
                            <input id="increasePointPercent" name="increasePointPercent"
                                   class="form-control input-md" type="text">
                        </div>
                        <div class="col-md-6" id="increasingPointBase-div">
                            <label>포인트 적립 기준</label>
                            <fieldset>
                                <fieldset>
                                    판매가 기준 <input type="radio" name="isPointApplyingBasedSellingPrice"
                                                  value="true"/>
                                    실구매가 기준 <input type="radio" name="isPointApplyingBasedSellingPrice"
                                                   value="false"/>
                                </fieldset>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div id="form-book" style="width: 40%">

                    <div class="row gx-3 mb-3">

                        <div class="col-md-4">
                            <label for="rawPrice">매입 원가(원)</label>
                            <input id="rawPrice" name="rawPrice"
                                   class="form-control input-md" required="" type="text">
                        </div>
                        <div class="col-md-4">
                            <label for="fixedPrice">정가(원)</label>
                            <input id="fixedPrice" name="fixedPrice" class="form-control input-md" required=""
                                   type="text">
                        </div>
                        <div class="col-md-4">
                            <label for="discountPercent">할인율(%)</label>
                            <input id="discountPercent" name="discountPercent" class="form-control input-md"
                                   required=""
                                   type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>구독 상품 여부</label>
                            <fieldset>
                                YES <input type="radio" name="isSubscription" required=""
                                           value="true"/>
                                NO <input type="radio" name="isSubscription" required=""
                                          value="false" checked/>
                            </fieldset>
                        </div>
                        <div class="col-md-5">
                            <label for="stock">재고(개)</label>
                            <input id="stock" name="stock" class="form-control input-md" required="" type="text"
                            >
                        </div>
                    </div>


                    <div class="row gx-3 mb-3">
                        <label>썸네일 사진 선택</label>
                        <input type="file" value="파일 선택" required="" name="fileThumbnails" accept="image/*"/>
                    </div>

                <div class="row gx-3 mb-3">
                    <label for="pageCount">page 수</label>
                    <input id="pageCount" name="pageCount" required="" class="form-control input-md"
                           type="text">
                </div>
                <div class="row gx-3 mb-3">
                    <label for="bookCreatedAt">발간일</label>
                    <input type="date" id="bookCreatedAt" required="" name="bookCreatedAt"
                           class="form-control input-md">
                </div>
                <div class="row gx-3 mb-3">
                    <label>상품 분류</label>
                    <fieldset>
                        전자책(e-book) <input type="radio" name="isEbook" value="true" required=""
                                           onclick="selectEbook()"/>
                        종이책 <input type="radio" name="isEbook" value="false" required=""
                                   onclick="notSelectEbook()" checked/>
                    </fieldset>
                    <div class="form-group" id="selectEbook" style="display: none">
                        <p class="col-md-3 control-label">ebook 등록</p>
                        <input type="file" value="파일 선택" name="fileEbook" accept=".pdf"/>
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <label for="publisherName">출판사</label>
                    <input id="publisherName" name="publisherName" required="" class="form-control input-md"
                           type="text">
                </div>
                <div class="row gx-3 mb-3">
                    <label for="authorName">저자명</label>
                    <input id="authorName" name="authorName" required="" class="form-control input-md"
                           type="text">
                </div>
            </div>

            <input class="btn btn-primary" style="margin-left: 20px" type="submit" id="submit" value="등록하기"
                   onclick="addBookSubmit()"/>
            </div>

        </form>
    </div>
</div>
</body>
</html>