<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminpage/default-layout}">

<head>
    <style>
        .toggleSwitch {
            width: 35px;
            height: 20px;
            display: block;
            position: relative;
            border-radius: 30px;
            background-color: #fff;
            box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.38);
            cursor: pointer;
        }

        .toggleSwitch .toggleButton {
            width: 15px;
            height: 15px;
            position: absolute;
            top: 30%;
            left: 3px;
            transform: translateY(-25%);
            border-radius: 50%;
            background: rgb(104, 104, 171);
        }

        .toggle:checked ~ .toggleSwitch {
            background: rgb(104, 104, 171);
        }

        .toggle:checked ~ .toggleSwitch .toggleButton {
            left: calc(100% - 19px);
            background: #fff;
        }

        .toggleSwitch, .toggleButton {
            transition: all 0.2s ease-in;
        }


    </style>
    <link rel="stylesheet" href="/adminpage/member/css/memberlist.css">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>상품 관리</title>
</head>
<body>
<div layout:fragment="content">
    <div class="content">

        <h2> 상품 관리
            <button style="width: auto; margin-left: 90%" class="btn btn-secondary mt-3"
                    onclick="location.href='/admin/products/select-add-product-type'">상품 등록
            </button>
        </h2>
        <hr>

        <div class="container bootstrap snippets bootdey">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-box no-header clearfix">
                        <div class="main-box-body clearfix">
                            <div class="table-responsive">
                                <table class="table user-list table-hover">
                                    <thead style="text-align: center">
                                    <tr style="text-align: center!important;">
                                        <th>상품코드</th>
                                        <th>상품명</th>
                                        <th>정가</th>
                                        <th>판매가</th>
                                        <th>판매</span></th>
                                        <th>강제품절</span></th>
                                        <th>삭제</span></th>
                                        <th>수정</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:if="${not #lists.isEmpty(pageResponse)}"
                                        th:each="product : ${pageResponse.content}">
                                        <td style="text-align: center" th:text="${product.productNo}"></td>
                                        <td style="text-align: left">
                                            <a th:href="|@{/products/{productNo}(productNo=${product.productNo})}|"
                                            style="text-decoration: none; color: #000000">
                                                <span th:text="${product.productName}"></span>
                                            </a>
                                        </td>
                                        <td><span style="text-align: center">
                                            [[${#numbers.formatInteger(product.selledPrice, 3, 'COMMA') + '원'}]]
                                        </span></td>
                                        <td>
                                            <span style="text-align: center">[[${#numbers.formatInteger(product.fixedPrice, 3, 'COMMA') + '원'}]]</span>
                                        </td>
                                        <td style="width: 7%">
                                            <input type="checkbox" class="toggle" hidden
                                                   th:checked="${product.isSelled}">
                                            <label class="toggleSwitch" style="margin: auto"
                                                   th:onclick="|location.href='@{/admin/products/{productNo}/stop-selled(productNo=${product.productNo})}'|">
                                                <span class="toggleButton"></span>
                                            </label>
                                        </td>
                                        <td style="width: 7%">
                                            <input type="checkbox" class="toggle" hidden
                                                   th:checked="${product.isForceSoldOut}">
                                            <label class="toggleSwitch" style="margin: auto"
                                                   th:onclick="|location.href='@{/admin/products/{productNo}/force-sold-out(productNo=${product.productNo})}'|">
                                                <span class="toggleButton"></span>
                                            </label>
                                        </td>
                                        <td style="width: 7%">
                                            <input type="checkbox" class="toggle" hidden
                                                   th:checked="${product.isDeleted}">
                                            <label class="toggleSwitch" style="margin: auto"
                                                   th:onclick="|location.href='@{/admin/products/{productNo}/delete(productNo=${product.productNo})}'|">
                                                <span class="toggleButton"></span>
                                            </label>
                                        </td>
                                        <td style="width: 5%">
                                            <button class="btn btn-dark btn-sm" th:if="${product.isbn == null}"
                                                    th:onclick="|location.href='@{/admin/products/{productNo}/modify(productNo=${product.productNo})}'|">
                                                edit
                                            </button>
                                            <button class="btn btn-dark btn-sm" th:unless="${product.isbn == null}"
                                                    th:onclick="|location.href='@{/admin/products/books/{productNo}/modify(productNo=${product.productNo})}'|">
                                                edit
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <th:block th:include="component/pageFooter"></th:block>
        </div>
    </div>
</div>
</body>
</html>