<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminpage/default-layout}">

<head>
    <script src="/product/js/admin-product.js"></script>
    <script src="/common/js/validation.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
            let productSimpleDescription = [[${product.simpleDescription}]]
            let inputLengthDiv = document.getElementById("inputLength");
            inputLengthDiv.innerText = productSimpleDescription.length + "/" + "255자";

            let pointApplyingBoolean = [[${product.isPointApplying}]];
            if(pointApplyingBoolean == false) {
                notSelectPointApplying();
            }

            let productCategoryList = [[${productCategoryList}]];
            let categoryNoList = [];
            productCategoryList.forEach(category => {
                categoryNoList.push(category.categoryNo);
            });
            showSubCategory(event, categoryNoList);
        });
    </script>
    <style>
        #form-product {
            float: left;
        }

    </style>
    <meta charset="UTF-8">
    <title>상품 수정</title>
</head>
<body>
<div layout:fragment="content">

    <div class="content">
        <h2> 상품 수정 </h2>

        <hr>

        <div class="form">
            <form class="form-horizontal" name="form" method="post"
                  th:action="@{|/admin/products/${product.productNo}/modify|}"
                  enctype="multipart/form-data" th:object="${product}" onsubmit="return modifyProductSubmit()">
                <div id="form-product" style="width: 50%">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" for="productName">상품명</span>
                        </div>
                        <input type="text" class="form-control" placeholder="등록할 상품명을 입력하세요" id="productName"
                               name="productName" th:value="${product.productName}" maxlength="255"
                               oninput="handleInputLength(this, 255)"
                               aria-label="상품명" aria-describedby="basic-addon1" required="">
                    </div>

                    <div class="row gx-3 mb-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="mainCategory">대분류</label>
                                    </div>
                                    <select class="custom-select" id="mainCategory" name="mainCategory">
                                        <option th:each="mainCategory: ${mainCategoryList}"
                                                th:selected="${productCategoryList.get(0).parentCategoryNo eq mainCategory.categoryNo}"
                                                th:value="${mainCategory.categoryNo}"
                                                th:text="${mainCategory.categoryName}">
                                        </option>
                                    </select>

                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button"
                                                onclick="showSubCategory(event)">하위 카테고리 펼치기
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="categoryCheckBox" style="display:none">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="simpleDescription">간단 설명</label>
                        <textarea id="simpleDescription" name="simpleDescription" maxlength="255"
                                  oninput="handleInputLength(this, 255), showInputLength(this, 255)"
                                  class="form-control input-md" required="" type="text"
                                  th:text="${product.simpleDescription}" rows="4" cols="50">
                        </textarea>
                        <p style="font-size: smaller; color: #2c2c2c; margin-left: 88%" id="inputLength">0 / 255자</p>
                    </div>


                    <div class="mb-3">
                        <label for="detailsDescription">상세 설명</label>
                        <textarea class="form-control" id="detailsDescription" name="detailsDescription"
                                  th:text="${product.detailsDescription}" rows="5" cols="50"></textarea>
                    </div>


                    <div class="row gx-3 mb-3">
                        <div class="col-md-4">
                            <label>포인트 적립 여부</label>
                            <fieldset>
                                YES <input type="radio" name="isPointApplying" value="true"
                                           onclick="selectPointApplying()" required=""
                                           th:checked="${product.isPointApplying eq true}"/>
                                NO <input type="radio" name="isPointApplying" required="" value="false"
                                          th:checked="${product.isPointApplying eq false}"
                                          onclick="notSelectPointApplying()"/>
                            </fieldset>
                        </div>
                        <div class="col-md-5" id="increasingPointBase-div">
                            <label>포인트 적립 기준</label>
                            <fieldset>
                                판매가 기준 <input type="radio" name="isPointApplyingBasedSellingPrice"
                                              value="true"
                                              th:checked="${product.isPointApplyingBasedSellingPrice eq true}"/>
                                실구매가 기준 <input type="radio" name="isPointApplyingBasedSellingPrice"
                                               value="false"
                                               th:checked="${product.isPointApplyingBasedSellingPrice eq false}"/>
                            </fieldset>
                        </div>
                        <div class="col-md-3" id="increasingPoint-div">
                            <label for="increasePointPercent">포인트 적립율(%)</label>
                            <input id="increasePointPercent" name="increasePointPercent"
                                   class="form-control input-md" oninput="handleInputLength(this, 3)"
                                   th:value="${product.increasePointPercent}" input type="number" max="100"
                                   min="0" step="0.1">
                        </div>

                    </div>
                    <div class="row gx-3 mb-3">

                        <div class="col-md-4">
                            <label for="rawPrice">매입 원가(원)</label>
                            <input id="rawPrice" name="rawPrice"
                                   th:value="${product.rawPrice}" oninput="handleInputLength(this, 8)"
                                   onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'"
                                   class="form-control input-md" required="" input type="number" min="0">
                        </div>
                        <div class="col-md-4">
                            <label for="fixedPrice">정가(원)</label>
                            <input id="fixedPrice" name="fixedPrice" class="form-control input-md" required="" oninput="handleInputLength(this, 8)"
                                   onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'"
                                   th:value="${product.fixedPrice}" input type="number" min="0">
                        </div>
                        <div class="col-md-4">
                            <label for="discountPercent">할인율(%)</label>
                            <input id="discountPercent" name="discountPercent" class="form-control input-md" required=""
                                   oninput="handleInputLength(this, 3)"
                                   th:value="${product.discountPercent}" input type="number" min="0" max="100"
                                   step="0.1">
                        </div>
                    </div>
                </div>
                <div class="row gx-3 mb-3 ml-3">
                    <div class="col-md-3">
                        <label>구독 상품 여부</label>
                        <fieldset>
                            YES <input type="radio" name="isSubscription" required=""
                                       th:checked="${product.isSubscription eq true}" value="true"/>
                            NO <input type="radio" name="isSubscription" required=""
                                      th:checked="${product.isSubscription eq false}" value="false"/>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                        <label for="stock">재고(개)</label>
                        <input id="stock" name="stock" class="form-control input-md" required="" input type="number"
                               min="0" th:value="${product.stock}" 고 oninput="handleInputLength(this, 8)"
                               onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'">
                    </div>
                </div>

                <div class="row gx-3 mb-3 ml-3">
                    <div class="input-group" style="width: 60%">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">사진</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="fileThumbnails"
                                   id="fileThumbnails" accept="image/*" onchange="previewImage(this);"/>
                            <label class="custom-file-label" for="fileThumbnails">
                                썸네일 선택 </label>
                        </div>
                    </div>
                </div>
                <p class="ml-4">(새로 등록하지 않으면 기존 사진이 유지됩니다.) </p>

                <img class="img-thumbnail-sm ml-5" style="width: 20%"
                     th:src="${product.fileThumbnailsUrl}"
                     id="imagePreview">

                <div class="row" style="margin-top: 20px">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                    <input class="btn btn-primary" type="submit" id="submit"
                           value="수정하기" onclick="modifyProductSubmit()"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
