<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminpage/default-layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

</head>
<body>
<div layout:fragment="content">
    <div class="content">
        <h2>상품 판매현황</h2>
        <hr>

        <div class="container">
            <div class="row my-2">
                <div class="col-lg-5">
                    <div class="card bg-light mb-3">
                        <div class="card-body">
                            <canvas id="productStatisticsCanceled"></canvas>
                        </div>
                        <div class="card-footer text-center"><span>취소(건) - 환불 완료, 주문 취소</span>
                            <a href="/admin/products/sales-rank?sortingCriteria=취소건"
                               class="btn btn-sm btn-dark">상세보기</a></div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="card bg-light mb-3">
                        <div class="card-body">
                            <canvas id="productStatisticsCompleted"></canvas>
                        </div>
                        <div class="card-footer text-center"><span>완료(건) - 구매 확정</span>
                            <a href="/admin/products/sales-rank?sortingCriteria=완료건"
                               class="btn btn-sm btn-dark">상세보기</a></div>
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-lg-5">
                    <div class="card bg-light mb-3">
                        <div class="card-body">
                            <canvas id="productStatisticsTotalAmount"></canvas>
                        </div>
                        <div class="card-footer text-center"><span>매출 합계 - 구매 확정</span>
                            <a href="/admin/products/sales-rank?sortingCriteria=매출합계"
                               class="btn btn-sm btn-dark">상세보기</a></div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="card bg-light mb-3">
                        <div class="card-body">
                            <canvas id="productStatisticsSellingPrice"></canvas>
                        </div>
                        <div class="card-footer text-center"><span>판매 금액 - 구매 확정</span>
                            <a href="/admin/products/sales-rank?sortingCriteria=판매금액"
                               class="btn btn-sm btn-dark">상세보기</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        drawRankList();

        async function drawRankList() {

            let canceledProductName = [];
            let canceledProductCount = [];

            await fetch(`/async/products/sales-rank?sortingCriteria=취소건`, {
                method: "GET"
            })
                .then(response => response.json())
                .then(data => {
                    data.some(productList => {
                        if (canceledProductName.length >= 5) {
                            return true
                        }
                        canceledProductName.push(productList.productName + " (" + productList.productNo + ")");
                        canceledProductCount.push(productList.count);
                    });
                });

            let ctx1 = document.getElementById('productStatisticsCanceled');

            new Chart(ctx1, {
                type: 'horizontalBar',
                data: {
                    labels: canceledProductName,
                    datasets: [{
                        label: '취소(건) 수',
                        data: canceledProductCount,
                        backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"]
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

            let completedProductName = [];
            let completedProductCount = [];

            await fetch(`/async/products/sales-rank?sortingCriteria=완료건`, {
                method: "GET"
            })
                .then(response => response.json())
                .then(data => {
                    data.some(productList => {
                        if (canceledProductName.length >= 5) {
                            return true
                        }
                        completedProductName.push(productList.productName + " (" + productList.productNo + ")");
                        completedProductCount.push(productList.count);
                    });
                });


            let ctx2 = document.getElementById('productStatisticsCompleted');

            new Chart(ctx2, {
                type: 'horizontalBar',
                data: {
                    labels: completedProductName,
                    datasets: [{
                        label: '완료(건) 수',
                        data: completedProductCount,
                        backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"]
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

            let totalAmountProductName = [];
            let totalAmountPrice = [];

            await fetch(`/async/products/sales-rank?sortingCriteria=매출합계`, {
                method: "GET"
            })
                .then(response => response.json())
                .then(data => {
                    data.some(productList => {
                        if (totalAmountProductName.length >= 5) {
                            return true
                        }
                        totalAmountProductName.push(productList.productName + " (" + productList.productNo + ")");
                        totalAmountPrice.push(productList.price);
                    });
                });

            let ctx3 = document.getElementById('productStatisticsTotalAmount');

            new Chart(ctx3, {
                type: 'doughnut',
                data: {
                    labels: totalAmountProductName,
                    datasets: [{
                        label: '매출합계',
                        data: totalAmountPrice,
                        backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"]
                    }]
                }
            });

            let SellingPriceProductName = [];
            let SellingPricePrice = [];

            await fetch(`/async/products/sales-rank?sortingCriteria=판매금액`, {
                method: "GET"
            })
                .then(response => response.json())
                .then(data => {
                    data.some(productList => {
                        if (SellingPriceProductName.length >= 5) {
                            return true
                        }
                        SellingPriceProductName.push(productList.productName + " (" + productList.productNo + ")");
                        SellingPricePrice.push(productList.price);
                    });
                });

            let ctx4 = document.getElementById('productStatisticsSellingPrice');

            new Chart(ctx4, {
                type: 'doughnut',
                data: {
                    labels: SellingPriceProductName,
                    datasets: [{
                        label: '판매금액',
                        data: SellingPricePrice,
                        backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"]
                    }]
                }
            });
        }


            let failMessage = [[${failMessage}]];
            if (failMessage != null) {
            swal(
                '쿠폰을 받을 수 없습니다!',
                `${failMessage}`,
                'warning'
            );
        }

    </script>
</div>
</div>
</body>
</html>