<th:block th:if="${!#lists.isEmpty(pageResponse.content)}">
    <div style="margin-left: 48%" >
    <button type = "button" style="margin-right: 5px" th:if="${pageResponse.previous}" class="btn btn-info" th:onclick="|location.href='@{${paginationUrl}(page=${pageResponse.number - 1})}'|" > < </button>
    <span th:text="${pageResponse.number + 1} + ' / ' + ${pageResponse.totalPages}"/>
    <button type = "button" style="margin-left: 5px"th:if="${pageResponse.next}" class="btn btn-info" th:onclick="|location.href='@{${paginationUrl}(page=${pageResponse.number + 1})}'|" > > </button>
    </div>
</th:block>