<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
        .gallery-bottom .pagination {
            margin-top: 10px;
            justify-content: center;
        }

        .pagination > li > a, .pagination > li > span {
            background-color: #6868ab;
            padding: 3px 9px;
            color: #fff;
            border: 0px;
            text-decoration-line: none;
        }

    </style>
</head>

<!--<th:block th:if="${!#lists.isEmpty(pageResponse.content) and pageResponse.totalPages!=1}">-->
<th:block th:if="${!#lists.isEmpty(pageResponse.content)}">
    <div class="row gallery-bottom">
        <ul class="pagination">

            <li th:if="${true}" style="margin-right: 5px" class="page-item">
                <a th:href="@{${paginationUrl}(page=0)}"><span><<</span></a>
            </li>
            <li th:if="${pageResponse.previous}" style="margin-right: 5px" class="page-item">
                <a th:href="@{${paginationUrl}(page=${pageResponse.number - 1})}"><span><</span></a>
            </li>

            <span th:text="${pageResponse.number + 1} + ' / ' + ${pageResponse.totalPages}"></span>

            <li th:if="${pageResponse.next}" style="margin-left: 5px" class="page-item">
                <a th:href="@{${paginationUrl}(page=${pageResponse.number + 1})}"><span>></span></a>
            </li>
            <li th:if="${true}" style="margin-left: 5px" class="page-item">
                <a th:href="@{${paginationUrl}(page=${pageResponse.totalPages - 1})}"><span>>></span></a>
            </li>
        </ul>
    </div>
</th:block>