<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/mypage/default-layout}">
<head>
    <meta charset="UTF-8">
    <title>주문 상세</title>
</head>
<body>
<div layout:fragment="content">
    <!-- 여기는 비회원도 볼 수 있고 관리자도 볼 수 있는 페이지이므로 mypage 말고 따로 꾸미면 좋을듯 -->
    <div class="container ml-1 mt-5">
        <div class="card" style="width: 30rem;">
            <div class="card-body">
                <h5 class="card-title">제품 정보</h5>
                <div th:if="${orderDetails.orderProductDetailResponseDtoList != null}">
                    <th:block th:each="product : ${orderDetails.orderProductDetailResponseDtoList}">
                        <div class="card-subtitle mb-2 text-muted">제발</div>
                        <div class="card-columns">
                            <span>이름: </span>
                            <span th:text="${product.productName}"></span>
                        </div>
                        <div class="card-columns">
                            <span>수량: </span>
                            <span th:text="${product.count}"></span>
                        </div>
                        <div class="card-columns">
                            <span>상품 금액: </span>
                            <span th:text="${product.productPrice}"></span>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>

        <div class="card mt-3" style="width: 30rem;">
            <div class="card-body">
                <h5 class="card-title">결제 정보</h5>
                <div th:if="${orderDetails.paymentCardResponseDto != null}">
                    <div class="card-columns">
                        <span>카드번호: </span>
                        <span th:text="${orderDetails.paymentCardResponseDto.cardSerialNo}"></span>
                    </div>
                    <div class="card-columns">
                        <span>결제 금액: </span>
                        <span th:text="${orderDetails.paymentCardResponseDto.totalAmount}"></span>
                    </div>
                </div>
            </div>
        </div>
        <!--        <button>주문 취소</button>-->
    </div>
</div>
</body>
</html>