<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminpage/default-layout}">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지 - 배송 목록</title>
</head>
<body>
<div layout:fragment="content">
    <div class="content">
        <h3>Itbook 배송 관리</h3>
        <button><a href="/admin/deliveries/post">일괄 배송</a></button>
        <button><a href="/admin/deliveries">전체 보기</a></button>
        <button><a href="/admin/deliveries/wait">대기 상태</a></button>
        <table>
            <thead>
            <tr>
                <td>배송 번호</td>
                <td>주문 번호</td>
                <td>운송장 번호</td>
                <td>배송 상태</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="deliveryWait : ${deliveryWaitList}">
                <td th:text="${deliveryWait.deliveryNo}"></td>
                <td th:text="${deliveryWait.orderNo}"></td>
                <td th:text="${deliveryWait.trackingNo}"></td>
                <td th:text="${deliveryWait.deliveryStatus}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>