<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminpage/default-layout}">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지 - 배송 목록</title>
</head>
<body>
<div layout:fragment="content">
    <div class="content" style="width: 90%">
        <h2>배송 관리</h2>
        <div class="snippets bootdey">
            <div class="btn-box">
<!--                <button class="btn btn-secondary" th:onclick="|location.href='@{/admin/deliveries}'|">구독 주문</button>-->
<!--                <button class="btn btn-secondary" th:onclick="|location.href='@{/admin/deliveries/wait-list}'|">일반 주문-->
<!--                </button>-->
                <button class="btn btn-danger right-btn mb-3"
                        th:onclick="|location.href='@{/admin/deliveries/registration}'|">일괄 배송 접수
                </button>
            </div>
            <table class="table table-hover" style="text-align: center">
                <thead>
                <tr class="thead-light">
                    <th>배송 번호</th>
                    <th>주문 번호</th>
                    <th>운송장 번호</th>
                    <th>배송 상태</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${!#lists.isEmpty(pageResponse.content)}"
                    th:each="deliveryWait : ${pageResponse.content}">
                    <td th:text="${deliveryWait.deliveryNo}"></td>
                    <td th:text="${deliveryWait.orderNo}"></td>
                    <td th:if="${deliveryWait.trackingNo}!=null" th:text="${deliveryWait.trackingNo}"></td>
                    <td th:unless="${deliveryWait.trackingNo}!=null">발급 전</td>
                    <td th:text="${deliveryWait.deliveryStatus}"></td>
                </tr>
                <tr th:unless="${!#lists.isEmpty(pageResponse.content)}">
                    <td colspan='4'> 접수 가능한 주문 목록이 없습니다.</td>
                </tr>
                </tbody>
            </table>
            <th:block th:include="component/pageFooter"></th:block>
            <div>

            </div>
            <script th:inline="javascript">
                let failMessage = [[${failMessage}]];
                if (failMessage) {
                    alert(failMessage);
                }
            </script>
        </div>
    </div>
</div>
</body>
</html>