<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminpage/default-layout}">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지 - 배송 목록</title>
</head>
<body>
<div layout:fragment="content">
    <div class="content">
        <h3>Itbook 배송 관리</h3>
        <div class="btn-box">
            <button class="btn btn-secondary" th:onclick="|location.href='@{/admin/deliveries}'|">전체 보기</button>
            <button class="btn btn-secondary" th:onclick="|location.href='@{/admin/deliveries/wait-list}'|">대기 상태
            </button>
            <button class="btn btn-danger right-btn" th:onclick="|location.href='@{/admin/deliveries/registration}'|">일괄 배송
            </button>
        </div>
        <table class="table table-striped">
            <thead>
            <tr class="thead-light">
                <th>배송 번호</th>
                <th>주문 번호</th>
                <th>운송장 번호</th>
                <th>배송 상태</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="deliveryWait : ${pageResponse.content}">
                <td th:text="${deliveryWait.deliveryNo}"></td>
                <td th:text="${deliveryWait.orderNo}"></td>
                <td th:text="${deliveryWait.trackingNo}"></td>
                <td th:text="${deliveryWait.deliveryStatus}"></td>
            </tr>
            </tbody>
        </table>

        <th:block th:include="component/pageFooter"></th:block>

    </div>
    <script th:inline="javascript">
        let failMessage = [[${failMessage}]];
        if (failMessage) {
            alert(failMessage);
        }
    </script>
</div>
</body>
</html>