* {
    margin: 0;
}

.cart p {
    margin: 0 !important;
}

.cart table thead tr th {
    text-align: center;
}

.cart table thead tr th {
    padding: 15px !important;
}

.cart {
    /* margin-top: 100px; */
    width: 90%;
    margin: 0 auto;
}

.cart .table {
    text-align: center;
}

.cart .table-light {
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

.cart .product_titleBox {
    display: flex;
    align-items: center;
}

.cart .product_title {
    font-size: 0.8em;
}

.cart .product_img {
    width: 62px;
    height: 75px;
    margin-right: 10px;
}

.cart .product_priceBox {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cart .fixed_price {
    text-decoration: line-through;
    color: dimgray;
}

.cart .discount_price {
    color: blue;
    font-weight: 600;
}

.cart .quantity {
    width: 100px;
    height: 38px;
}

.cartBtnBox.btn_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* margin: 30px auto; */
}

.cartBtnBox.deleteBtn_box {
    display: flex;
    align-items: center;
}

.cartBtnBox.all_delete_btn {
    margin-right: 10px;
}

.cartBtnBox.movementBtn_box {
    display: flex;
    align-items: center;
}
.cartBtnBox.go_payment {
    margin-left: 10px;
}

.cart_type_bntBox {
    width: 100%;
    display: flex;
}

.cart_type_bntBox button {
    border: none;
    height: 50px;
}

.cart_type_general {
    width: 100%;
}

.cart_type_subscription {
    width: 100%;
}

.section {
    width: 90%;
    margin: 100px auto -10px auto;
}

.section h1 {
    padding-bottom: 10px;
    border-bottom: solid 5px #6868ab !important;
}

/* main page dropdown */

#drop_down_with_links .bx {
    font-size: 20px;
    color: #333;
}

#drop_down_with_links {
    position: relative;
    margin-right: 10px;
}

#drop_down_with_links #trigger {
    border: none;
    padding: 6px 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid #e9e9e9;
}

#drop_down_with_links #menu {
    position: absolute;
    top: 46px;
    left: 0px;
    width: 180px;
    border: 1px solid #e9e9e9;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(0,0,0,.15);
    padding: 8px;
    transition: 500ms ease-in;
}

#drop_down_with_links #menu.closed {
    display: none;
    list-style: none;
}

#drop_down_with_links #menu {
    z-index: 10;
}

#drop_down_with_links #menu li {
    list-style: none;
}

#drop_down_with_links li > a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
}

#drop_down_with_links .select_component:focus-visible,
select:focus-visible {
    border-radius: 8px;
    outline: 2px solid purple;
    background-color: rgba(0,0,0,0.05)
}

#drop_down_with_links li > a:focus-visible,
#trigger:focus-visible {
    border-radius: 8px;
    outline: 2px solid purple;
    background-color: rgba(0,0,0,0.05);
}

#drop_down_with_links li > a:hover,
.select_component:hover,
#trigger:hover {
    background-color: rgba(0,0,0,0.05);
    border-radius: 4px;
}


