<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainpage/default-layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div>
        <p></p>
        <h2>작성한 리뷰</h2>
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>상품명</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center"><img width="100px;" th:src="${reviewResponseDto.thumbnailUrl}"></td>
                <td th:text="${reviewResponseDto.productName}"></td>
            </tr>
            </tbody>
        </table>
        <hr>
        별점 : <span th:text="${reviewResponseDto.starPoint}"></span> / 5<br><br>
        <img style="width: 400px;" th:src="${reviewResponseDto.image}"><br>
        <br>
        <h5>내용</h5>
        <p style="overflow: auto;" th:text="${reviewResponseDto.content}"></p>
        <br><br><br>
        <button class="btn btn-dark" onclick="history.back()">뒤로가기</button>
    </div>
</div>
</body>
</html>