<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mypage/default-layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="content">
        <h2>나의 리뷰 목록</h2>
        <hr>
        <div>
            <div class="container bootstrap snippets bootdey">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-box no-header clearfix">
                            <div class="main-box-body clearfix">
                                <div class="table-responsive">
                                    <table class="table user-list">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th><span>상품이름</span></th>
                                            <th><span>별점</span></th>
                                            <th><span></span></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="review : ${pageResponse.getContent()}">
                                            <td><img width="100px;" th:src="${review.image}"></td>
                                            <td><span th:text="${review.productName}"></span></td>
                                            <td><span th:text="${review.starPoint}"></span> / 5</td>
                                            <td>
                                                <button class="btn btn-light"
                                                        th:onclick="|location.href= '@{/review/{orderProductNo}(orderProductNo = ${review.orderProductNo})}'|">상세보기</button>
                                            </td>
                                            <td><button class="btn btn-primary"
                                                        th:onclick="|location.href= '@{/review/mypage/{orderProductNo}/modify(orderProductNo=${review.orderProductNo})}'|">수정하기</button></td>
                                            <td>
                                                <button class="btn btn-danger" th:onclick="|location.href='@{/review/mypage/{orderProductNo}/delete(orderProductNo = ${review.orderProductNo})}'|">삭제하기</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <th:block th:include="component/pageFooter"></th:block>
        </div>
        <script th:inline="javascript">
            let failMessage = [[${failMessage}]];
            if (failMessage) {
                Swal.fire({
                    icon: 'error',
                    title: failMessage,
                    text: '다시 시도해 주세요!',
                })
            }
        </script>
    </div>
</div>
</body>
</html>