* {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

html,body {
    height: 100%;
}

body {
    margin:0;
}

.itbook-container{
    margin-left: 10%;
    margin-right: 10%;

    min-height: 60%;
}

/*footer {*/
/*    position : relative;*/
/*    transform : translateY(-100%);*/
/*}*/