* {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    margin:0;
}

.itbook-container{
    /*margin: 10%;*/

    margin-left: 10%;
    margin-right: 10%;

    height: 100%;
}

footer {
    position : relative;
    transform : translateY(-100%);
}