.main_product_container {
    display: flex;
    align-items: center;
}

.main_product_container .main_product:nth-child(1n) {
    margin-right: 30px;
}

.main_product_container .main_product:last-child {
    margin-right: 0;
}

.main_title {
    font-size: 30px;
    font-weight: bold;
}