/*!* layout *!*/

/*.logo {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    margin-top: 50px;*/
/*    margin-bottom: 50px;*/
/*}*/


/*.logo_columns {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    height: 40px;*/
/*}*/

/*.logo_columns.searchbar {*/
/*    border: solid 1px #666666;*/
/*    border-radius: 10px;*/
/*    !* padding: 3px; *!*/
/*    margin-left: 50px;*/
/*}*/


/*!* style *!*/

/*.logo_img {*/
/*    height: 100px;*/
/*}*/

/*.logo_columns_column select {*/
/*    border: none;*/
/*    border-right: solid 1px #777777;*/
/*    width: 100px;*/
/*    margin-right: 5px;*/
/*}*/

/*.logo_columns_column input {*/
/*    border: none;*/
/*    width: 300px;*/
/*    height: 35px;*/
/*}*/

/*.logo_columns_column button {*/
/*    border: none;*/
/*    background-color: #1869B3;*/
/*    color: #fff;*/
/*    height: 40px;*/
/*    width: 40px;*/
/*    border-top-right-radius: 8px;*/
/*    border-bottom-right-radius: 8px;*/
/*}*/

.logo-img {
    width: 8%;
    height: 75%;
}

#category {
    width: 155px;
    padding: 0;
}

.py-3.mb-4.border-bottom{
    margin-bottom: 0 !important;
}