.order-write {
    margin: 10%;

    width: 80%;
    height: 100%;
}

.order-write .order-title {
    font-size: 30px;

    margin-top: 5%;
    margin-bottom: 5%;

    border-bottom: #03a9ff solid 1px;
    box-shadow: 0 3px 3px -3px blue;
}

.order-write .box-title {
    font-size: 22px;
    margin-bottom: 3%;

    padding-bottom: 5px;

    border-bottom: #eaeaed solid 2px;
}

.box-title:before {
    content: "|";
    margin-right: 8px;
    font-weight: bold;
    color: #1869B3;
}

.box-content input {
    margin-bottom: 10px;
}

table {
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 7%;

    border-collapse: separate;
    border-spacing: 0;
    width: 80%;
}

th,
td {
    padding: 6px 15px;
}
th {
    background: #42444e;
    color: #fff;
    text-align: left;
}
tr:first-child th:first-child {
    border-top-left-radius: 6px;
}
tr:first-child th:last-child {
    border-top-right-radius: 6px;
}
td {
    border-right: 1px solid #c6c9cc;
    border-bottom: 1px solid #c6c9cc;
}
td:first-child {
    border-left: 1px solid #c6c9cc;
}
tr:nth-child(even) td {
    background: #eaeaed;
}
tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}

.order-write .address-box {
    margin-bottom: 5%;
}

.order-write .delivery-box {
    margin-bottom: 5%;
}