<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainpage/default-layout}">
<head>
    <meta charset="UTF-8">
    <title>장바구니</title>

    <link rel="stylesheet" href="/cart/css/cart.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>

<div layout:fragment="content">

    <div class="section" style="width: 90%; margin: 100px auto;">
        <h1 style="padding-bottom: 10px; border-bottom: solid 1px blue;">장바구니</h1>
    </div>



    <div class="cart">
        <div class="cart_type_bntBox">
            <button class="cart_type_general btn btn-primary">일반 상품</button>
            <button class="cart_type_subscription btn btn-light">구독 상품</button>

        </div>

        <div class="table-responsive general_product">
            <table class="table table-hover table-md align-middle">
                <thead class="table-light">
                <tr>
                    <th style="width: 100px;">
                        <p>전채 <span></span> 개</p>
                    </th>
                    <th style="min-width: 80px;"><input type="checkbox"></th>
                    <th style="min-width: 350px;">상품명</th>
                    <th style="min-width: 150px;">판매가</th>
                    <th style="min-width: 250px;">수량</th>
                    <th style="min-width: 110px;">주문 금액</th>
                </tr>

                </thead>
                <tbody class="table_body">
                <tr class="table_line">
                    <td>1</td>
                    <td><input type="checkbox" name="" id=""></td>
                    <td>
                        <div class="product_titleBox">
                            <img class="product_img" src="" alt="" >
                            <p class="product_title">객체 지향 오해와 사실</p>
                        </div>
                    </td>
                    <td>
                        <div class="product_priceBox">
                            <p class="fixed_price">10,000</p>
                            <p class="discount_price">9,000</p>
                        </div>

                    </td>
                    <td>
                        <div class="d-flex" style="max-width: 300px; align-items: center; justify-content: center;">
                            <button class="btn btn-primary px-3 me-2" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                <i class="fa fa-minus"></i>
                            </button>

                            <div class="form-outline">
                                <input min="1" name="quantity" value="1"  class="quantity" type="number" />
                            </div>

                            <button class="btn btn-primary px-3 ms-2" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </td>
                    <td>
                        <p class="total_price">10,000,000</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="table-responsive subscription_product">
            <table class="table table-hover table-md align-middle">
                <thead>
                <tr>
                    <th style="width: 100px;">
                        <p>전채 <span></span> 개</p>
                    </th>
                    <th style="min-width: 80px;"><input type="checkbox"></th>
                    <th style="min-width: 350px;">상품명</th>
                    <th style="min-width: 150px;">판매가</th>
                    <th style="min-width: 250px;">수량</th>
                    <th style="min-width: 110px;">주문 금액</th>
                </tr>

                </thead>
                <tbody class="table_body">
                <tr class="table_line">
                    <td>1</td>
                    <td><input type="checkbox" name=""></td>
                    <td>
                        <div class="product_titleBox">
                            <img class="product_img" src="" alt="" >
                            <p class="product_title">[구독 상품] 객체 지향 오해와 사실</p>
                        </div>
                    </td>
                    <td>
                        <div class="product_priceBox">
                            <p class="fixed_price">10,000</p>
                            <p class="discount_price">9,000</p>
                        </div>

                    </td>
                    <td>
                        <div class="d-flex" style="max-width: 300px; align-items: center; justify-content: center;">
                            <button class="btn btn-primary px-3 me-2" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                <i class="fa fa-minus"></i>
                            </button>

                            <div class="form-outline">
                                <input min="1" max="10" maxlength="1" name="quantity" value="1"  class="quantity" type="number" />
                            </div>

                            <button class="btn btn-primary px-3 ms-2" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </td>
                    <td>
                        <p class="total_price">10,000,000</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>



        <div class="btn_container">
            <div class="deleteBtn_box">
                <button class="all_delete_btn btn btn-danger">전체삭제</button>
                <button class="select_delete_btn btn btn-warning">선택삭제</button>
            </div>
            <div class="movementBtn_box">
                <button class="go_shopping btn btn-secondary">쇼핑 하러가기</button>
                <button class="go_payment btn btn-success">결제하기</button>
            </div>
        </div>

    </div>

    <script src="/cart/js/cartForm.js"></script>

</div>

</body>
</html>