<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout",
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/mainpage/default-layout}">
<head>
    <meta charset="UTF-8">
    <title>즐겨찾기</title>

    <link rel="stylesheet" href="/cart/css/cart.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>

<div layout:fragment="content">

    <div class="section">
        <h1>즐겨찾기</h1>
    </div>

    <h1 th:text="${pageResponse}"></h1>

    <div class="cart" style="margin-bottom: 300px">

        <div class="table-responsive">
            <table class="table table-hover table-md align-middle">
                <thead class="table-primary">
                <tr>
                    <th style="min-width: 80px;"></th>
                    <th style="min-width: 350px;">상품명</th>
                    <th style="min-width: 150px;">판매가</th>
                    <th style="">품절여부</th>
                    <th style="min-width: 200px;">등록일</th>
                </tr>

                </thead>
                <tbody class="table_body" id="general_product">
                <!-- 회원 일반상품 장바구니 테이블 -->
<!--                <th:block sec:authorize="isAuthenticated()">-->
<!--                <th:block th:if="${not #lists.isEmpty(cartList)}">-->
<!--                <tr class="table_line" th:each="dto : ${cartList}">-->
<!--                    <td>-->
<!--                        <div style="display: flex; align-items: center; justify-content: center">-->
<!--                            <button type="button" class="btn btn-primary btn-sm me-1 mb-2" data-mdb-toggle="tooltip"-->
<!--                                    title="Remove item" th:attr="productNo=${dto.productDetailsResponseDto.productNo}" th:onclick="deleteProduct(this.getAttribute('productNo'))">-->
<!--                                <i class="fas fa-trash"></i>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <div class="product_titleBox">-->
<!--                            <a th:href="@{|/products/${dto.productDetailsResponseDto.productNo}|}" style="display: flex; align-items: center; text-decoration: none; color: black">-->
<!--                                <img class="product_img" th:src="${dto.productDetailsResponseDto.fileThumbnailsUrl}" alt="" >-->
<!--                                <div>-->
<!--                                    <p class="product_title" th:text="${dto.productDetailsResponseDto.productName}"></p>-->
<!--                                    <p class="product_author"></p>-->
<!--                                    <p class="product_publisher_name"></p>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <div class="product_priceBox">-->
<!--                            <p class="fixed_price" th:text="${dto.productDetailsResponseDto.fixedPrice}"></p>-->
<!--                            <p class="discount_price" th:text="${dto.productDetailsResponseDto.selledPrice}"></p>-->
<!--                        </div>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <p class="product_isSelled" th:text="${dto.productDetailsResponseDto.stock}"></p>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <p class="bookmark_created_at"></p>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <button class="btn btn-primary">Add Cart</button>-->
<!--                    </td>-->

<!--                </tr>-->
<!--                </th:block>-->
<!--                </th:block>-->

                </tbody>
            </table>
        </div>


    </div>

</div>

</body>
</html>