<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainpage/default-layout}">
<head>
    <meta charset="UTF-8">
    <title>상품문의 상세보기</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/mypage/productinquiry/css/productInquiryReply.css">
</head>
<body>
<div layout:fragment="content">
    <div class="content" style="overflow-x: hidden;
    overflow-y: auto;">
        <p></p>
        <h2>상품문의</h2>
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>상품명</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center"><img width="100px;" th:src="${productInquiryResponseDto.thumbnailUrl}"></td>
                <td th:text="${productInquiryResponseDto.name}"></td>
            </tr>
            </tbody>
        </table>
        <br>
        <h4>제목</h4>
        <span th:text="${productInquiryResponseDto.title}"></span><br /><br />
        <p>&nbsp;</p>
        <h4>내용</h4>
        <p th:text="${productInquiryResponseDto.content}"></p>
        <p></p><br>
        <div>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <h2>문의 답변</h2>
            <hr>
            <div>
                <table style="width: 100%;">
                    <thead>
                    <tr>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${not #lists.isEmpty(productInquiryReplyResponseDtoList)}"
                        th:each="productInquiryReply : ${productInquiryReplyResponseDtoList}">
                        <td>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="media g-mb-30 media-comment">
                                            <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                                                <div class="g-mb-15">
                                                    <h4 class="h5 g-color-gray-dark-v1 mb-0" th:text="${productInquiryReply.productInquiryReplyTitle}"></h4>
                                                    <span class="g-color-gray-dark-v4 g-font-size-12">답변자 : </span>
                                                    <span class="g-color-gray-dark-v4 g-font-size-12" th:text="${productInquiryReply.name}"></span>
                                                </div>
                                                <hr>
                                                <div>
                                                    <p th:text="${productInquiryReply.productInquiryReplyContent}"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>