<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminpage/default-layout}">
<head>
  <meta charset="UTF-8">
  <title>포인트 내역 상세 조회</title>
</head>
<body>
<div layout:fragment="content">
  <div class="content">
    <h2>작성한 리뷰</h2>
    <hr>
    <hr>
    별점 : <span th:text="${reviewResponseDto.starPoint}"></span> / 5<br><br>
    <img style="width: 450px;" th:src="${reviewResponseDto.image}"><br>
    <h5>내용</h5>
    <p th:text="${reviewResponseDto.content}"></p>
    <button class="btn btn-dark" onclick="history.back()">뒤로가기</button>
  </div>
</div>
</body>
</html>