<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainpage/default-layout}">
<head>
    <meta charset="UTF-8">
    <title>쿠폰 다운 페이지</title>

    <link rel="stylesheet" href="/mainpage/css/order-write.css">
</head>
<body>

<div layout:fragment="content">
    <div><h1>선착순 쿠폰</h1></div>
    <div class="box">
        <table>
            <div class="box-title">이달의 쿠폰</div>
            <thead>
            <tr>
                <th>쿠폰 명</th>
                <th>혜택</th>
                <th>사용기한</th>
                <th>버튼</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="coupon : ${couponList}">
                <td th:text="${coupon.name}">
                </td>
                <td th:if="${coupon.amount!=0}">
                    <span th:text="${coupon.amount} + '원 할인'"></span>
                </td>
                <td th:if="${coupon.percent!=0}">
                    <span th:text="${coupon.percent} +'% 할인'"></span>
                </td>
                <td th:if="${coupon.point!=0}">
                    <span th:text="${coupon.point} + ' 포인트 적립'"></span>
                </td>
                <td>
                    <span th:text="${#temporals.format(coupon.couponCreatedAt, 'yyyy년 MM월 dd일 ~')}"></span>
                    <span th:text="${#temporals.format(coupon.couponExpiredAt, 'yyyy년 MM월 dd일')}"></span>
                </td>
                <td class="text-center">
                    <span class="badge text-bg-primary" th:text="다운받기" th:onclick="|location.href='@{/coupons/download(couponNo=${coupon.couponNo})}'|" style="cursor:pointer"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>