<div th:fragment="header-fragment">
    <nav class="py-2 bg-light border-bottom">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                <li class="nav-item"><a href="/" class="nav-link link-dark px-2" aria-current="page">Home</a>
                </li>
                <!--                <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Features</a></li>-->
            </ul>
            <ul class="nav">
                <li class="nav-item"><a href="/login" class="nav-link link-dark px-2">로그인</a></li>
                <li class="nav-item"><a href="/signup" class="nav-link link-dark px-2">회원가입</a></li>
            </ul>
        </div>
    </nav>
    <header class="py-3 mb-4 border-bottom">
        <div class="container d-flex flex-wrap justify-content-center">
            <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
                <img class="logo-img" src="/mainpage/img/itbooklogo.png"/>
                <h1 id="itbook-title">ITBOOK</h1>
            </a>
            <form class="form-inline" method="GET" action="/product/search">
                <input class="form-control mr-sm-2" type="search" name = "name" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </header>
</div>

<!--카테고리바-->

<nav class="navbar navbar-dark bg-dark" style="width: 100%;" th:fragment="category-fragment">
    <div id="category" class="category col-lg-2 d-lg-block">
        <button id="category_btn" class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbar-vertical"
                aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span><span style="margin-left: 5px" class="text-white">카테고리</span>
        </button>
        <nav class="collapse position-absolute navbar-vertical navbar-dark align-items-start p-0 bg-dark"
             id="navbar-vertical" style="width: 100%; z-index: 999;">
            <div class="navbar-nav w-100">
                <div class="nav-item dropdown dropright" th:each="mainCategory : ${mainCategoryList}">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
                       th:text="${mainCategory.mainCategoryName}">
                        <i class="fa fa-angle-right float-right mt-1"></i></a>
                    <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                        <a th:each="subCategory : ${mainCategory.subCategoryList}"
                           th:href="@{/products(categoryNo=${subCategory.categoryNo},categoryName=${subCategory.categoryName})}"
                           th:text="${subCategory.categoryName}"
                           class="dropdown-item"></a>
                    </div>
                </div>

            </div>

        </nav>
    </div>
    <div class="col-lg-2" th:each="productType : ${productTypeList}">
        <a th:href="@{/products(productTypeNo=${productType.productTypeNo}, productTypeName=${productType.productTypeName})}">
            <button style="margin-left: 15px" class="navbar-toggler text-white">
                [[${productType.productTypeName}]]
            </button>
        </a>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/product/js/service-product.js"></script>

</nav>
</div>