<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title></title>
<div th:fragment="header-fragment">
    <nav class="py-2 bg-light border-bottom">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                <li class="nav-item"><a href="/" class="nav-link link-dark px-2" aria-current="page">Home</a>
                </li>
                <!--                <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Features</a></li>-->
            </ul>
            <ul class="nav">

                <div id="drop_down_with_links">
                    <button id="trigger">
                        <i class="fa-solid fa-cart-shopping"
                           style="font-size: 20px; color: #222333; margin-right: 10px;"></i>
                        <span class="user">장바구니</span>
                    </button>

                    <ul id="menu" class="closed">
                        <li>
                            <a href="/cart/general" class="link">
                                <span>일반상품</span>
                            </a>
                        </li>
                        <li>
                            <a href="/cart/subscription" class="link">
                                <span>구독상품</span>
                            </a>
                        </li>
                    </ul>

                </div>

                <th:block sec:authorize="isAnonymous()">
                    <li class="nav-item"><a href="/login" class="nav-link link-dark px-2">로그인</a></li>
                    <li class="nav-item"><a href="/signup" class="nav-link link-dark px-2">회원가입</a></li>
                    <div class="nav-item"><a href="/non-member/order-details/show-select-form" class="nav-link link-dark px-2">비회원 주문조회</a></div>
                </th:block>

                <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-item"><a href="/mypage" class="nav-link link-dark px-2">마이페이지</a></li>
                    <li class="nav-item"><a href="/logout" class="nav-link link-dark px-2">로그아웃</a></li>
                    <li sec:authorize="hasAuthority('ADMIN')"><a href="/adminpage" class="nav-link link-dark px-2">관리자 페이지</a></li>
                </th:block>
            </ul>
        </div>
    </nav>
    <header class="py-3 mb-4 border-bottom">
        <div class="container d-flex flex-wrap justify-content-center">
            <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
                <img class="logo-img" src="/mainpage/img/itbooklogo.png"/>
                <h1 id="itbook-title">ITBOOK</h1>
            </a>
            <form class="form-inline" method="GET" action="/products/search">
                <input class="form-control mr-sm-2" type="search" name="name" placeholder="Search" maxlength="30" aria-label="Search">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </header>
</div>

<!--카테고리바-->

<nav class="navbar navbar-dark bg-dark" style="width: 100%;" th:fragment="category-fragment">
    <div id="category" class="category col-lg-2 d-lg-block">
        <button id="category_btn" class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbar-vertical"
                aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span><span style="margin-left: 5px" class="text-white">카테고리</span>
        </button>
        <nav class="collapse position-absolute navbar-vertical navbar-dark align-items-start p-0 bg-dark"
             id="navbar-vertical" style="width: 100%; z-index: 999;">
            <div class="navbar-nav w-100">
                <div class="nav-item dropdown dropright" th:each="mainCategory : ${mainCategoryList}">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
                       th:text="${mainCategory.mainCategoryName}"><i class="fa fa-angle-right float-right mt-1"></i></a>
                    <div class="dropdown-menu position-absolute rounded-0 border-0 m-0" th:if="${not #lists.isEmpty(mainCategory.subCategoryList)}">
                        <a th:each="subCategory : ${mainCategory.subCategoryList}"
                           th:href="@{/products(categoryNo=${subCategory.categoryNo},categoryName=${subCategory.categoryName})}"
                           th:text="${subCategory.categoryName}"
                           class="dropdown-item"/>
                    </div>
                </div>

            </div>

        </nav>
    </div>
    <div>
        <button id="couponButton" type="button" class="navbar-toggler" onclick="location.href='/coupons/month'">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                     class="bi bi-ticket-fill" viewBox="0 0 16 16">
                <path d="M1.5 3A1.5 1.5 0 0 0 0 4.5V6a.5.5 0 0 0 .5.5 1.5 1.5 0 1 1 0 3 .5.5 0 0 0-.5.5v1.5A1.5 1.5 0 0 0 1.5 13h13a1.5 1.5 0 0 0 1.5-1.5V10a.5.5 0 0 0-.5-.5 1.5 1.5 0 0 1 0-3A.5.5 0 0 0 16 6V4.5A1.5 1.5 0 0 0 14.5 3h-13Z"/>
                </svg>
            </span>
            <span style="margin-right: 5px" class="text-white"> 쿠폰</span>
        </button>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/cart/js/cartHeader.js"></script>
</nav>

</html>