<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="head-fragment">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/mainpage/css/global.css">
        <link rel="stylesheet" href="/mainpage/css/reset.css">

        <link rel="stylesheet" href="/mainpage/css/rightside.css">
        <link rel="stylesheet" href="/mainpage/css/slider.css">
        <link rel="stylesheet" href="/mainpage/css/category.css">
        <link rel="stylesheet" href="/mainpage/css/logo.css">
        <link rel="stylesheet" href="/mainpage/css/header.css">
        <link rel="stylesheet" href="/mainpage/css/index.css">

        <!-- FontAwesome -->
        <script src="https://kit.fontawesome.com/1811ec3902.js" crossorigin="anonymous"></script>

        <!-- Google Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
    </div>

</head>
<body>

</body>
</html>