<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/1811ec3902.js" crossorigin="anonymous"></script>

    <!-- Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
</head>
<body>
<div class="header">
    <div class="header_columns">

        <div class = "header_columns_column">
            <a href = "/">메인홈</a>
        </div>

        <div class="header_columns_column">
            <a href="#">관리자 페이지</a>
        </div>

        <div class="header_columns_column">
            <a href="#">마이페이지</a>
        </div>

        <div class="header_columns_column">
            <a href="#">로그아웃</a>
        </div>

        <div class="header_columns_column">
            <a href="">로그인</a>
        </div>

        <div class="header_columns_column">
            <a href="#">회원가입</a>
        </div>

        <div class="header_columns_column">
            <a href="#">고객센터</a>
        </div>
    </div>
    <div>
        <p>&nbsp;</p>
    </div>
</div>
</body>
</html>