<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminpage/default-layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/adminpage/member/css/memberlist.css">

</head>
<body>
    <div layout:fragment="content">
        <div class="content">
            <h2>차단회원 목록</h2>
            <hr>
            <table>
                <tr>
                    <td>회원 번호</td>
                    <td>회원 아이디</td>
                    <td>닉네임</td>
                    <td>멤버등급</td>
                    <td>멤버상태</td>
                    <td></td>
                </tr>
                <tr th:each="member : ${memberList}" th:if="${member.memberStatusName} == '차단회원'">
                    <td th:text="${member.memberNo}"></td>
                    <td th:text="${member.memberId}"></td>
                    <td th:text="${member.nickname}"></td>
                    <td th:text="${member.membershipGrade}"></td>
                    <td th:text="${member.memberStatusName}"></td>
                    <td><a th:href="@{|/admin/members/${member.memberId}/info|}">상세정보</a></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>