<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminpage/default-layout}">
<head>
    <meta charset="UTF-8">
    <title>회원 정보</title>
    <link rel="stylesheet" type="text/css" href="/adminpage/member/css/adminMemberDetail.css">
</head>
<body>
    <div layout:fragment="content">
        <div class="content">
            <div class="tab-pane fade in active show" id="profile-about">
                <!-- begin table -->
                <div class="table-responsive">
                    <table class="table table-profile">
                        <thead>
                        <tr>
                            <th></th>
                            <th>
                                <h2 th:text="${member.memberId}"></h2>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="highlight">
                            <td class="field">회원번호</td>
                            <td><span th:text="${member.memberNo}"></span></td>
                        </tr>
                        <tr class="divider">
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td class="field">가입날짜</td>
                            <td><span th:text="${#temporals.format(member.memberCreatedAt, 'yyyy년 MM월 dd일 HH시 mm분 ss초')}"></span></td>
                        </tr>
                        <tr>
                            <td class="field">아이디</td>
                            <td><span th:text="${member.memberId}"></span></td>
                        </tr>
                        <tr>
                            <td class="field">닉네임</td>
                            <td><span th:text="${member.nickname}"></span></td>
                        </tr>
                        <tr class="divider">
                            <td colspan="2"></td>
                        </tr>
                        <tr class="highlight">
                            <td class="field">이름</td>
                            <td><span th:text="${member.name}"></span></td>
                        </tr>
                        <tr class="divider">
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td class="field">성별</td>
                            <td>
                                <span th:if="${member.isMan == true}">남</span>
                                <span th:if="${member.isMan == false}">여</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="field">생일</td>
                            <td><span th:text="${#temporals.format(member.birth, 'yyyy년 MM월 dd일')}"></span></td>
                        </tr>
                        <tr>
                            <td class="field">핸드폰번호</td>
                            <td><span th:text="${member.phoneNumber}"></span></td>
                        </tr>
                        <tr>
                            <td class="field">이메일</td>
                            <td><span th:text="${member.email}"></span></td>
                        </tr>
                        <tr class="divider">
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td class="field">회원등급</td>
                            <td>
                                <span th:text="${member.membershipGrade}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="field">회원상태</td>
                            <td>
                                <span th:text="${member.memberStatusName}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="field">회원 권한</td>
                            <td>
                                <table>
                                    <thead>
                                    <tr>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="memberRole : ${memberRoles}">
                                        <td th:text="${memberRole.getRole()}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr class="divider">
                            <td colspan="2"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- end table -->
                <hr>
            </div>
            <div th:if="${member.memberStatusName} != '차단회원'">
                <div th:if="${member.memberStatusName} != '탈퇴회원'">
                    <div th:if="${memberRoles.get(0).getRole()} == 'ADMIN'">
                        <form method="post" id="delete_role_form" th:action="@{|/admin/members/${member.memberNo}/${memberRoles.get(0).getRoleNo()}/member-role/delete|}">
                            <button class="btn btn-dark" type="submit">어드민 권한 삭제</button>
                        </form>
                    </div>
                    <div th:if="${memberRoles.get(0).getRole()} != 'ADMIN'">
                        <form method="post" id="Authorization_form" th:action="@{|/admin/members/${member.memberNo}/member-role/add|}">
                            <input type="hidden" name="roleName" value="ADMIN">
                            <button class="btn btn-info" style="color:white;" type="submit">어드민 권한 부여</button>
                        </form>
                    </div>
                    <hr>
                    <div>
                        <button class="btn btn-danger" style="margin-bottom: 10px;" onclick="selectBlockBtnInMemberDetails()">차단하기</button><br/>
                        <form method="post" id="block_form" th:action="@{|/admin/members/${member.memberNo}/modify/member-status|}" style="display: none;">
                            <input type="hidden" name="memberStatusName" value="차단회원">
                            <div>
                                <span>차단 사유</span><br/>
                                <input style="width:500px;" type="textarea" id="statusChangedReason" name="statusChangedReason">
                            </div>
                            <button class="btn btn-dark" style="margin-top: 10px;" type ="submit">차단완료</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script th:src="@{/adminpage/member/js/MemberStatusBtnSelect.js}"></script>
    </div>
</body>
</html>