<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminpage/default-layout}">
<head>
    <meta charset="UTF-8">
    <title>차단 회원 정보</title>
  <link rel="stylesheet" type="text/css" href="/adminpage/member/css/adminMemberDetail.css">

</head>
<body>
<div layout:fragment="content">
  <div class="content">
    <div class="tab-pane fade in active show" id="profile-about">
      <!-- begin table -->
      <div class="table-responsive">
        <table class="table table-profile">
          <thead>
          <tr>
            <th></th>
            <th>
              <h2 th:text="${member.memberId}"></h2>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr class="highlight">
            <td class="field">회원번호</td>
            <td><span th:text="${member.memberNo}"></span></td>
          </tr>
          <tr class="divider">
            <td colspan="2"></td>
          </tr>
          <tr>
            <td class="field">가입날짜</td>
            <td><span th:text="${#temporals.format(member.memberCreatedAt, 'yyyy년 MM월 dd일 HH시 mm분 ss초')}"></span></td>
          </tr>
          <tr>
            <td class="field">아이디</td>
            <td><span th:text="${member.memberId}"></span></td>
          </tr>
          <tr>
            <td class="field">닉네임</td>
            <td><span th:text="${member.nickname}"></span></td>
          </tr>
          <tr class="divider">
            <td colspan="2"></td>
          </tr>
          <tr class="highlight">
            <td class="field">이름</td>
            <td><span th:text="${member.name}"></span></td>
          </tr>
          <tr class="divider">
            <td colspan="2"></td>
          </tr>
          <tr>
            <td class="field">성별</td>
            <td>
              <span th:if="${member.isMan == true}">남</span>
              <span th:if="${member.isMan == false}">여</span>
            </td>
          </tr>
          <tr>
            <td class="field">생일</td>
            <td><span th:text="${#temporals.format(member.birth, 'yyyy년 MM월 dd일')}"></span></td>
          </tr>
          <tr>
            <td class="field">핸드폰번호</td>
            <td><span th:text="${member.phoneNumber}"></span></td>
          </tr>
          <tr>
            <td class="field">이메일</td>
            <td><span th:text="${member.email}"></span></td>
          </tr>
          <tr class="divider">
            <td colspan="2"></td>
          </tr>
          <tr>
            <td class="field">회원등급</td>
            <td>
              <span th:text="${member.membershipGrade}"></span>
            </td>
          </tr>
          <tr>
            <td class="field">회원상태</td>
            <td>
              <span th:text="${member.memberStatusName}"></span>
            </td>
          </tr>
          <tr>
            <td class="field">회원차단사유</td>
            <td>
              <span th:text="${member.statusChangedReason}"></span>
            </td>
          </tr>
          <tr>
            <td class="field">회원차단일자</td>
            <td>
              <span th:text="${#temporals.format(member.memberStatusHistoryCreatedAt, 'yyyy년 MM월 dd일 HH시 mm분 ss초')}"></span>
            </td>
          </tr>
          <tr>
            <td class="field">회원 권한</td>
            <td>
              <table>
                <thead>
                <tr>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="memberRole : ${memberRoles}">
                  <td th:text="${memberRole.getRole()}"></td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr class="divider">
            <td colspan="2"></td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- end table -->
    </div>
    <hr>
    <div>
      <button class="btn btn-light" onclick="selectNormalBtnInMemberDetails()">차단풀기</button><br/>
      <form method="post" id="normal_form" th:object="${memberStatusChangeRequestDto}" th:action="@{|/admin/members/${member.memberNo}/modify/member-status|}" style="display: none;">
        <input type="hidden" name="memberStatusName" value="정상회원">
        <input type="hidden" name ="statusChangedReason" value="차단회원에서 정상회원으로 변경">
        <button class="btn btn-primary" style="margin-top: 10px;" type ="submit">차단해제</button>
      </form>
    </div>
  </div>
  <script th:src="@{/adminpage/member/js/MemberStatusBtnSelect.js}"></script>
</div>
</body>
</html>