<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminpage/default-layout}">
<head>
    <meta charset="UTF-8">
    <title>회원 통계</title>
    <link rel="stylesheet" type="text/css" href="/adminpage/member/css/adminMemberDetail.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="content">
        <h2>회원 통계</h2>

        <input type="hidden" id="normalCount" th:value="${normalCount}">
        <input type="hidden" id="blockCount" th:value="${count.getBlockMemberCount()}">
        <input type="hidden" id="withdrawCount" th:value="${count.getWithdrawMemberCount()}">

        <div class="tab-pane fade in active show" id="profile-about">
            <!-- begin table -->
            <div class="table-responsive">
                <table class="table table-profile">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="highlight">
                        <td class="field">정상회원</td>
                        <td><span th:text="${normalCount}"></span>명</td>
                    </tr>
                    <tr class="divider">
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td class="field">차단회원</td>
                        <td><span th:text="${count.getBlockMemberCount()}"></span>명</td>
                    </tr>
                    <tr>
                        <td class="field">탈퇴회원</td>
                        <td><span th:text="${count.getWithdrawMemberCount()}"></span>명</td>
                    </tr>
                    <tr class="divider">
                        <td colspan="2"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- end table -->
            <hr>
        </div>

        <div class="container">
            <div class="row my-3">
                <div class="col-12">
                    <h4>회원 상태별 통계 차트</h4>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <canvas id="memberStatusStatistics"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>

            let normalCnt = document.getElementById("normalCount").value * 1;
            let blockCnt = document.getElementById("blockCount").value * 1;
            let withdrawCnt = document.getElementById("withdrawCount").value * 1;

            data = {
                datasets: [{
                    backgroundColor: ['rgba(255, 99, 132, 0.2)','rgba(0, 0, 0, 0.2)','rgba(54, 162, 235, 0.2)'],
                    borderColor : ['rgba(255, 99, 132, 1)','rgba(74, 74, 74, 1)','rgba(54, 162, 235, 1)'],
                    borderWidth: 1,
                    data: [blockCnt, withdrawCnt, normalCnt]
                }],
                labels: ['차단회원','탈퇴회원','정상회원']
            };

            let ctx1 = document.getElementById("memberStatusStatistics");

            new Chart(ctx1, {
                type: 'pie',
                data: data,
                options: {}
            });
        </script>

    </div>
</div>
</body>
</html>