<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminpage/default-layout}">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지 - 회원 목록</title>
    <link rel="stylesheet" href="/adminpage/member/css/memberlist.css">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
</head>
<body>
<div layout:fragment="content">
    <div class="content">
        <h2>회원 목록</h2>
        <hr>
        <div>
            <form method="get" th:object="${memberSearchRequestDto}" th:action="@{/admin/members/search}">
                <div>
                    <input type="date" th:field="*{start}">
                    ~
                    <input type="date" th:field="*{end}">
                </div>
                <select th:field="*{searchRequirement}">
                    <option value="everything">전체</option>
                    <option value="memberId">아이디</option>
                    <option value="nickname">닉네임</option>
                    <option value="name">이름</option>
                    <option value="phoneNumber">전화번호</option>
                    <option value="dateOfJoining" onclick="selectDateOfRegistration()">가입일</option>
                </select>
                <input type="text" id="searchWordText" th:field="*{searchWord}" value="">
                <button class="btn btn-secondary" type="submit">검색</button>
            </form>
        </div>
        <div class="container bootstrap snippets bootdey">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-box no-header clearfix">
                        <div class="main-box-body clearfix">
                            <div class="table-responsive">
                                <table class="table user-list">
                                    <thead>
                                    <tr>
                                        <th><span>회원번호</span></th>
                                        <th><span>회원이름</span></th>
                                        <th><span>가입날짜</span></th>
                                        <th class="text-center"><span>회원상태</span></th>
                                        <th><span>이메일</span></th>
                                        <th>&nbsp;</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="member : ${pageResponse.getContent()}">
                                        <td th:text="${member.memberNo}"></td>
                                        <td>
                                            <span th:text="${member.name}"></span>
                                        </td>
                                        <td><span th:text="${#temporals.format(member.memberCreatedAt, 'yyyy년 MM월 dd일')}"></span></td>
                                        <td class="text-center">
                                            <span class="badge text-bg-primary" th:text="${member.memberStatusName}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${member.email}"></span>
                                        </td>
                                        <td style="width: 20%;">
                                            <a th:href="@{|/admin/members/${member.memberId}/info|}" style="text-decoration-line: none; color: black;" class="table-link text-warning">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                            </span>
                                            </a>
                                            <a href="#" class="table-link danger">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-ban fa-stack-1x fa-inverse"></i>
                                            </span>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:include="component/pageFooter"></th:block>
    </div>
</div>
</body>
</html>