<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <div th:replace="fragment/common/head :: bootstrap-head-fragment"></div>
    <div th:replace="fragment/adminpage/head :: adminpage-css-fragment"></div>
</head>
<body>

<div>
    <th:block th:replace="fragment/adminpage/header :: header-fragment">
    </th:block>
    <div class="flex-content">
        <th:block th:replace="fragment/adminpage/side-menu :: side-menu-fragment">
        </th:block>
        <div layout:fragment="content" class="main-content w-100">
        </div>
    </div>
    <div th:replace="fragment/common/footer :: footer-fragment"></div>

</div>

</body>
</html>