<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mypage/default-layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/mypage/member/js/memberPointSend.js"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="content">
        <h2>포인트 선물하기</h2>
        <hr>
        현재 <span th:text="${myMemberId}"></span>님의 잔여 포인트 <span id="recentlyPoint" th:text="${recentlyPoint}"></span>p
        <br><br>
        <div style="width: 40%;">
            <form id="giftPointForm" method="post" th:action="@{/mypage/members/me/point-gift}">

                <input type="hidden" name="sendMemberNo" th:value="${myMemberNo}">
                <input type="hidden" name="receiveMemberNo" value="-1">
                <input type="hidden" id="checkMemberId" th:value="${myMemberId}">

                <div class="form-outline mb-4">
                    <label class="form-label">선물할 회원 아이디</label>
                    <input type="text" id="receiveMemberId" name="receiveMemberId" class="form-control form-control-lg">
                    <div id="existsMemberMsg" style = "display:none;">선물할 수 있는 회원입니다.</div>
                    <div id="notExistsMemberMsg" style = "display:none;">존재하지 않는 회원입니다.</div>
                    <button type="button" id="findBtn" class="btn btn-light" onclick="findMember()">찾기</button>
                    <button type="button" id="reFindBtn" class="btn btn-dark" onclick="reFindMember()" style="display: none;">다시찾기</button>
                </div>
                <div>
                    <label class="form-label">선물할 포인트</label>
                    <input type="text" id="giftPoint" name="giftPoint" class="form-control form-control-lg" oninput="writePoint()">
                </div>
                <button id="sendBtn" type="button" onclick="sendPoint()" class="btn btn-primary" disabled>선물하기</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>