<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mypage/default-layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src = "/mypage/member/js/passwordModify.js"></script>
</head>
<body>
<div layout:fragment="content">
  <div class="content">
    <h3>비밀번호 수정</h3>
    <hr>
    <label for="modifiedPassword" class="form-label">새 비밀번호</label>
    <input type="password" class="form-control" id ="modifiedPassword" aria-describedby="pwdHelp">
    <div id="pwdHelp" class="form-text">영문 대소문자, 숫자, 특수기호를 적어도 1개 이상 포함시켜야 합니다</div><br/>
    <label for="modifiedPasswordCheck" class="form-label">비밀번호 확인</label>
    <input type="password" class="form-control" id ="modifiedPasswordCheck">
    <button type="button" class="btn btn-primary" onclick="sendPassword()" style="margin-top: 10px;">수정하기</button>
    <br><br>
      <button type="button" class="btn btn-light" onclick="window.close()" style="margin-top: 10px;">뒤로가기</button>
  </div>
</div>
</body>
</html>