<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mypage/default-layout}">
<head>
    <meta charset="UTF-8">
    <title>마이페이지 - 회원등급</title>
    <link rel="stylesheet" href="/mypage/member/css/member-membership.css">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <script>
        function showMembershipList() {

            const url = "/mypage/membership";

            window.open(url, "memberList");
        }
    </script>
</head>
<body>
<div layout:fragment="content">
    <div class="content">
        <h2>나의 등급 조회</h2>
        <hr>
        회원님의 등급은
        <th:block th:if="${myMembership} == '일반'">
            <i class="fa-solid fa-crown" style="color: yellowgreen"></i>
        </th:block>
        <th:block th:if="${myMembership} == '화이트'">
            <i class="fa-solid fa-crown" style="color: saddlebrown"></i>
        </th:block>
        <th:block th:if="${myMembership} == '실버'">
            <i class="fa-solid fa-crown" style="color: silver"></i>
        </th:block>
        <th:block th:if="${myMembership} == '골드'">
            <i class="fa-solid fa-crown" style="color: gold"></i>
        </th:block>
        <th:block th:if="${myMembership} == '플레티넘'">
            <i class="fa-solid fa-crown" style="color: aqua"></i>
        </th:block>
        <span th:text="${myMembership}"></span> 등급입니다.<br/>
        <br>
        <button class="btn btn-dark" onclick="showMembershipList()">등급 리스트 확인</button>
        <hr>
        <br>
        <h3>나의 다음 예상 등급</h3>
            이번달 총 주문 금액은 <span></span>원으로 다음 등급은 <span></span> 등급 예정입니다.<br>
            <table class="table">
                <tr>
                    <th>주문 번호</th>
                    <th>주문 금액</th>
                    <th>차감 금액</th>
                    <th>순수 주문 금액</th>
                    <th>이번달 총 주문금액</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        <hr>
        <br>
        <h3>나의 등급 이력</h3>
        <div class="container bootstrap snippets bootdey">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-box no-header clearfix">
                        <div class="main-box-body clearfix">
                            <div class="table-responsive">
                                <table class="table user-list table-font">
                                    <thead>
                                    <tr>
                                        <th><span>월</span></th>
                                        <th><span>등급</span></th>
                                        <th><span>전월사용금액</span></th>
                                        <th><span>다음등급기준금액</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="membershipHistory : ${membershipHistoryList}">
                                        <td th:text="${#temporals.format(membershipHistory.membershipHistoryCreatedAt, 'yyyy년 MM월')}"></td>
                                        <td th:text="${membershipHistory.membershipGrade}"></td>
                                        <td th:text="${membershipHistory.monthlyUsageAmount}"></td>
                                        <td th:text="${#numbers.formatInteger(amountBasedOnNextLevel, 0, 'COMMA')}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>