<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminpage/default-layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>상품문의 답변 페이지</title>
    <script src="/mypage/productinquiry/js/productInquiryReply.js"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="content">
        <h2>작성한 상품문의</h2>
        <hr>
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>상품명</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center"><img width="100px;" th:src="${productInquiryResponseDto.thumbnailUrl}"></td>
                <td th:text="${productInquiryResponseDto.name}"></td>
            </tr>
            </tbody>
        </table>
        <h4>제목</h4>
        <span th:text="${productInquiryResponseDto.title}"></span><br /><br />
        <h4>내용</h4>
        <p th:text="${productInquiryResponseDto.content}"></p>
        <div sec:authorize="hasAuthority('ADMIN')">
            <hr>
            <h3>답변 작성</h3>
            <form class="mb-3" id="productInquiryForm" name="productInquiryReplyForm"  method="post"
                  th:object="${productInquiryReplyRequestDto}" th:action="@{/admin/product-inquiries/reply/add}">

                <input type="hidden" name="productInquiryNo" th:value="${productInquiryResponseDto.productInquiryNo}">
                <input type="hidden" name="memberNo" value="-1">

                <label for="title" class="form-label">답변제목</label>
                <input type="text" class="form-control" id="title" th:field="*{productInquiryReplyTitle}"><br/>

                <label for="content" class="form-label">답변내용</label>
                <textarea class="col-auto form-control" type="text" id="content"
                           th:field="*{productInquiryReplyContent}"></textarea>
                <button class="btn btn-primary" type="button" onclick="submitProductInquiryReply(); ">등록하기</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>