<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainpage/default-layout}">
<head>


    <meta charset="UTF-8">
    <title>ItBook</title>
</head>
<body>
<div layout:fragment="content">

    <h1 id="type_name"
        style="font-size: 42px; padding-bottom: 10px; border-bottom: solid 3px #03a9ff; margin-bottom: 30px"></h1>

    <div class="row">
        <!--        <div class="col-sm-4 col-md-3">-->
        <!--            &lt;!&ndash; Filter &ndash;&gt;-->
        <!--            <form class="shop__filter">-->
        <!--                &lt;!&ndash; Price &ndash;&gt;-->
        <!--                <h3 class="headline">-->
        <!--                    <span>Price</span>-->
        <!--                </h3>-->
        <!--                <div class="radio">-->
        <!--                    <input type="radio" name="shop-filter__price" id="shop-filter-price_1" value="" checked="">-->
        <!--                    <label for="shop-filter-price_1">Under $25</label>-->
        <!--                </div>-->
        <!--                <div class="radio">-->
        <!--                    <input type="radio" name="shop-filter__price" id="shop-filter-price_2" value="">-->
        <!--                    <label for="shop-filter-price_2">$25 to $50</label>-->
        <!--                </div>-->
        <!--                <div class="radio">-->
        <!--                    <input type="radio" name="shop-filter__price" id="shop-filter-price_3" value="">-->
        <!--                    <label for="shop-filter-price_3">$50 to $100</label>-->
        <!--                </div>-->
        <!--                <div class="radio">-->
        <!--                    <input type="radio" name="shop-filter__price" id="shop-filter-price_4" value="specify">-->
        <!--                    <label for="shop-filter-price_4">Other (specify)</label>-->
        <!--                </div>-->

        <!--                &lt;!&ndash; Checkboxes &ndash;&gt;-->
        <!--                <h3 class="headline">-->
        <!--                    <span>Brand</span>-->
        <!--                </h3>-->
        <!--                <div class="checkbox">-->
        <!--                    <input type="checkbox" value="" id="shop-filter-checkbox_1" checked="">-->
        <!--                    <label for="shop-filter-checkbox_1">Adidas</label>-->
        <!--                </div>-->
        <!--                <div class="checkbox">-->
        <!--                    <input type="checkbox" value="" id="shop-filter-checkbox_2">-->
        <!--                    <label for="shop-filter-checkbox_2">Calvin Klein</label>-->
        <!--                </div>-->
        <!--                <div class="checkbox">-->
        <!--                    <input type="checkbox" value="" id="shop-filter-checkbox_3">-->
        <!--                    <label for="shop-filter-checkbox_3">Columbia</label>-->
        <!--                </div>-->
        <!--                <div class="checkbox">-->
        <!--                    <input type="checkbox" value="" id="shop-filter-checkbox_4">-->
        <!--                    <label for="shop-filter-checkbox_4">Tommy Hilfiger</label>-->
        <!--                </div>-->
        <!--                <div class="checkbox">-->
        <!--                    <input type="checkbox" value="" id="shop-filter-checkbox_5">-->
        <!--                    <label for="shop-filter-checkbox_5">Not specified</label>-->
        <!--                </div>-->

        <!--                &lt;!&ndash; Radios &ndash;&gt;-->
        <!--                <h3 class="headline">-->
        <!--                    <span>Material</span>-->
        <!--                </h3>-->
        <!--                <div class="radio">-->
        <!--                    <input type="radio" name="shop-filter__radio" id="shop-filter-radio_1" value="" checked="">-->
        <!--                    <label for="shop-filter-radio_1">100% Cotton</label>-->
        <!--                </div>-->
        <!--                <div class="radio">-->
        <!--                    <input type="radio" name="shop-filter__radio" id="shop-filter-radio_2" value="">-->
        <!--                    <label for="shop-filter-radio_2">Bamboo</label>-->
        <!--                </div>-->
        <!--                <div class="radio">-->
        <!--                    <input type="radio" name="shop-filter__radio" id="shop-filter-radio_3" value="">-->
        <!--                    <label for="shop-filter-radio_3">Leather</label>-->
        <!--                </div>-->
        <!--                <div class="radio">-->
        <!--                    <input type="radio" name="shop-filter__radio" id="shop-filter-radio_4" value="">-->
        <!--                    <label for="shop-filter-radio_4">Polyester</label>-->
        <!--                </div>-->
        <!--                <div class="radio">-->
        <!--                    <input type="radio" name="shop-filter__radio" id="shop-filter-radio_5" value="">-->
        <!--                    <label for="shop-filter-radio_5">Not specified</label>-->
        <!--                </div>-->

        <!--                &lt;!&ndash; Colors &ndash;&gt;-->
        <!--                <h3 class="headline">-->
        <!--                    <span>Colors</span>-->
        <!--                </h3>-->
        <!--                <div class="shop-filter__color">-->
        <!--                    <input type="text" id="shop-filter-color_1" value="" data-input-color="black">-->
        <!--                    <label for="shop-filter-color_1" style="background-color: black;"></label>-->
        <!--                </div>-->
        <!--                <div class="shop-filter__color">-->
        <!--                    <input type="text" id="shop-filter-color_2" value="" data-input-color="gray">-->
        <!--                    <label for="shop-filter-color_2" style="background-color: gray;"></label>-->
        <!--                </div>-->
        <!--                <div class="shop-filter__color">-->
        <!--                    <input type="text" id="shop-filter-color_3" value="" data-input-color="brown">-->
        <!--                    <label for="shop-filter-color_3" style="background-color: brown;"></label>-->
        <!--                </div>-->
        <!--                <div class="shop-filter__color">-->
        <!--                    <input type="text" id="shop-filter-color_4" value="" data-input-color="beige">-->
        <!--                    <label for="shop-filter-color_4" style="background-color: beige;"></label>-->
        <!--                </div>-->
        <!--                <div class="shop-filter__color">-->
        <!--                    <input type="text" id="shop-filter-color_5" value="" data-input-color="white">-->
        <!--                    <label for="shop-filter-color_5" style="background-color: white;"></label>-->
        <!--                </div>-->
        <!--            </form>-->
        <!--        </div>-->

        <div class="col-sm-8 col-md-12">
            <!-- Filters -->
            <!--            <ul class="shop__sorting">-->
            <!--                <li><a href="#">베스트셀러</a></li>-->
            <!--                <li><a href="#">신간</a></li>-->
            <!--                <li><a href="#">추천</a></li>-->
            <!--                <li><a href="#">인기</a></li>-->
            <!--                <li><a href="#">할인</a></li>-->
            <!--            </ul>-->

            <div class="row product-grid4" th:if="${not #lists.isEmpty(pageResponse)}">
                <div class="col-md-2" th:each="product : ${pageResponse.content}" style="text-align: center">
                    <div class="product-image4">
                        <a th:href="@{|/products/${product.productNo}|}">
                            <img class="pic-1" th:src="${product.fileThumbnailsUrl}">
                        </a>
                        <!--                            <ul class="social">-->
                        <!--                                <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>-->
                        <!--                                <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>-->
                        <!--                                <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>-->
                        <!--                            </ul>-->
                        <span class="product-discount-label"
                              th:if="${product.isForceSoldOut == true or product.stock == 0}">
                                    품절</span>
                        <span class="product-new-label">[[${product.discountPercent}]]%</span>
                    </div>
                    </a>
                    <ul class="rating">
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                    </ul>
                    <div class="product-content">
                        <h3 class="title">[[${product.productName}]]</h3>
                        <div class="price">[[${product.selledPrice}]]
                            <span>[[${product.fixedPrice}]]</span>
                        </div>
                        <a class="add-to-cart" href="">+ Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="row" th:unless="${not #lists.isEmpty(pageResponse)}" style="text-align: center">
                <p>해당 카테고리에 속하는 상품이 존재하지 않습니다.</p>
            </div>


        </div> <!-- / .row -->

        <!-- Pagination -->
        <th:block th:include="component/pageFooter"></th:block>

        <!--        <div class="row">-->
        <!--            <div class="col-sm-12">-->

        <!--                <ul class="pagination pull-right">-->
        <!--                    <li><a href="#">«</a></li>-->
        <!--                    <li><a href="#">»</a></li>-->
        <!--                </ul>-->

        <!--            </div>-->
        <!--        </div>-->

    </div>
    <script src="/mainpage/js/category.js"></script>
</div>
</body>
</html>