<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainpage/default-layout}">
<head>


    <meta charset="UTF-8">
    <title>ItBook</title>
</head>
<body>
<div layout:fragment="content">

    <h1 class="main_title"
        style="font-size: 42px; padding-bottom: 10px; border-bottom: solid 3px #d6d6d6; margin-top:15px; margin-bottom: 30px">
        [[${categoryName}]]</h1>

    <div class="row">
        <div class="col-sm-8 col-md-12">
            <!--            &lt;!&ndash; Filters &ndash;&gt;-->
            <!--            <ul class="shop__sorting">-->
            <!--                <li><a href="#">베스트셀러</a></li>-->
            <!--                <li><a href="#">신간</a></li>-->
            <!--                <li><a href="#">추천</a></li>-->
            <!--                <li><a href="#">인기</a></li>-->
            <!--                <li><a href="#">할인</a></li>-->
            <!--            </ul>-->

            <div class="row product-grid4" th:if="${not #lists.isEmpty(pageResponse)}">
                <div class="col-md-2" th:each="product : ${pageResponse.content}" style="text-align: center">
                    <a style="text-decoration: none; " th:href="@{|/products/${product.productNo}|}">
                        <div class="product-image4">
                            <img class="img-thumbnail img-responsive img-effect" th:src="${product.fileThumbnailsUrl}">
                            <!--                            <ul class="social">-->
                            <!--                                <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>-->
                            <!--                                <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>-->
                            <!--                                <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>-->
                            <!--                            </ul>-->
                            <span class="product-discount-label"
                                  th:if="${product.isForceSoldOut == true or product.stock == 0}">
                                    품절</span>
                            <span th:if="${product.isSubscription == true}" class="product-new-label">구독</span>
                        </div>
                        <ul class="rating" style="text-align: center">
                            <li style="float: left" class="fa fa-star"></li>
                            <li style="float: left" class="fa fa-star"></li>
                            <li style="float: left" class="fa fa-star"></li>
                            <li style="float: left" class="fa fa-star"></li>
                            <li style="float: left" class="fa fa-star"></li>
                        </ul>
                        <div class="product-content">
                            <h3 class="title">[[${product.productName}]]</h3>
                            <div class="price">[[${#numbers.formatInteger(product.selledPrice, 3, 'COMMA')}]]원
                                <span>[[${#numbers.formatInteger(product.fixedPrice, 3, 'COMMA')}]]원</span>
                                <span>([[${product.discountPercent}]]%)</span>
                            </div>
                            <a style="text-decoration: none;" class="add-to-cart" href="">+ Add To Cart</a>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row" th:unless="${not #lists.isEmpty(pageResponse)}" style="text-align: center">
                <p>해당 카테고리에 속하는 상품이 존재하지 않습니다.</p>
            </div>

        </div>
    </div>
    <th:block th:include="component/pageFooter"></th:block>
    <script src="/mainpage/js/category.js"></script>
</div>
</body>
</html>