<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/mainpage/default-layout}">

<head>
    <link href="/mainpage/product/css/css/product-details.css" rel="stylesheet">
    <link rel="stylesheet" href="/mypage/member/css/memberlist.css">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
          integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous"/>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>

    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="/bookmark/js/bookmarkAdd.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
        .checked {
            color: orange;
        }

    </style>

</head>
<body>
<div layout:fragment="content">
    <div class="card" style="margin-top: 10px">
        <div class="card-body">
            <h2 class="card-title">[[${product.productName}]]</h2>
            <h6 class="card-subtitle">[[${product.simpleDescription}]]</h6>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6">
                    <div class="white-box text-center">
                        <img th:src="${product.fileThumbnailsUrl}" class="img-details-thumbnail"></div>
                </div>

                <div class="col-lg-7 col-md-7 col-sm-6">
                    <div class="col-lg-11 col-md-11 col-sm-10">

                        <div th:if="${not #strings.equals(product.detailsDescription, null)}"
                             style="margin-block: 20px">
                            [[${product.detailsDescription}]]
                        </div>

                        <table class="table table-borderless" style="margin-top:10px">
                            <tbody>
                            <tr>
                                <td>정가</td>
                                <td>
                                    <span>[[${#numbers.formatInteger(product.fixedPrice, 1, 'COMMA')}]]원</span>
                                </td>
                            </tr>
                            <tr>
                                <td>판매가</td>
                                <td>
                                    <span class="g-color-gray-dark-v4" th:if="${product.isSubscription}">1개월 당</span>
                                    <b><span
                                            th:text="${#numbers.formatInteger(product.selledPrice, 1, 'COMMA')}"></span>원</b>
                                    <span class="sell-price">([[${product.discountPercent}]]%,</span>
                                    <span class="sell-price"
                                          th:text="|${#numbers.formatInteger(product.fixedPrice - product.selledPrice, 1, 'COMMA')}원 할인)|"></span>
                                </td>
                            </tr>
                            <tr th:if="${product.isPointApplying} == true">
                                <td>포인트 적립</td>
                                <td>
                                    <span class="point_percent">[[${product.increasePointPercent}]]%</span>
                                    <span th:if="${product.isPointApplyingBasedSellingPrice} == true">&nbsp;(판매가 기준)</span>
                                    <span th:unless="${product.isPointApplyingBasedSellingPrice} == true">&nbsp;(실구매가 기준)</span>
                                </td>
                            </tr>
                            <tr th:if="${product.isSubscription == false}">
                                <td><span>구매 수량 선택</span></td>
                                <td>
                                    <div class="row">
                                        <div class="count col-5">
                                            <button id="minus">-</button>
                                            <input id="quantity" size="20" type="number" min="1" name="quantity"
                                                   onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'"
                                                   oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                                   value="1">
                                            <button id="plus">+</button>
                                        </div>
                                        <div th:if="${product.isSubscription == false}" class="col-5"
                                             style="margin-left: 5%; padding-top: 10px">
                                            <span>(재고: [[${product.stock}]]개)</span>
                                        </div>
                                        <div th:unless="${product.isSubscription == false}" class="col-5"
                                             style="margin-left: 5%; padding-top: 10px">
                                            <span>(구독 상품)</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>

                        <div style="text-align: center">
                            <th:block th:if="${product.isForceSoldOut == false or product.stock != 0}">
                                <button class="btn btn-dark btn-rounded mr-1" data-toggle="tooltip" title=""
                                        data-original-title="Add to cart" style="display :inline-block;"
                                        th:attr="productNo=${product.productNo}"
                                        th:onclick="addProduct(this.getAttribute('productNo'))">
                                    <i class="fa fa-shopping-cart"></i> <span style="margin-left: 10px">장바구니 담기</span>
                                </button>
                            </th:block>
                            <button class="btn btn-danger" style="display :inline-block;"
                                    th:if="${product.isForceSoldOut == true or product.stock == 0}">
                                품절
                            </button>
                            <button th:if="${product.isSubscription}" sec:authorize="isAuthenticated()"
                                    class="btn btn-rounded text-white" onclick="goOrderSheet('subs')"
                                    style="display :inline-block; background-color: #16a085"
                                    th:unless="${product.isForceSoldOut == true or product.stock == 0}">구독하기
                            </button>
                            <button th:if="${product.isSubscription}" sec:authorize="isAnonymous()"
                                    class="btn btn-rounded text-white non-member-btn"
                                    style="display :inline-block; background-color: #16a085"
                                    th:unless="${product.isForceSoldOut == true or product.stock == 0}">
                                구독하기
                            </button>
                            <button type="button" th:if="!${product.isSubscription}"
                                    sec:authorize="isAuthenticated()" onclick="goOrderSheet()"
                                    class="btn btn-primary btn-rounded" style="display :inline-block;"
                                    th:unless="${product.isForceSoldOut == true or product.stock == 0}">구매하기
                            </button>
                            <button type="button" th:if="!${product.isSubscription}" sec:authorize="isAnonymous()"
                                    class="btn btn-primary btn-rounded non-member-btn"
                                    th:unless="${product.isForceSoldOut == true or product.stock == 0}"
                                    style="display :inline-block;">구매하기
                            </button>

                            <div class="modal fade" id="nonMemberModal" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true" style="top:32%">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header"></div>
                                        <div class="modal-body">비회원으로 주문하시겠습니까?</div>
                                        <div class="modal-footer">
                                            <a th:if="!${product.isSubscription}" class="btn btn-info" id="modalY">예</a>
                                            <a th:if="${product.isSubscription}" class="btn btn-info"
                                               id="modalSubsY">예</a>
                                            <a class="btn btn-dark block" id="modalN" type="button"
                                               data-dismiss="modal">취소</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--                <strong><span style="font-size: 30pt; margin-left: 20%" class="mt-5"-->
                <!--                              data-th-text="${#numbers.formatInteger(product.selledPrice, 1, 'COMMA') + '원'}"></span></strong>-->
                <!--                <small style="font-size: 15pt; margin-left: 10%" class="text-success"-->
                <!--                       th:text="|(${product.discountPercent}%off)|"></small>-->

            </div>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <span style="margin-left:20px">주제 분류&nbsp;|&nbsp;</span><span id="parentCategoryName"></span><span
                    id="childCategoryName"></span>
                <span>
                <i class="fa-sharp fa-solid fa-eye" style="margin-left: 20px"></i>
                   [[${product.dailyHits}]]
                    </span>
            </div>
            <!--            <div class="col-sm-12 col-md-6 col-lg-6">-->
            <!--                <div class="btn-group pull-right">-->
            <!--                    <button class="btn btn-white btn-default"-->
            <!--                            th:onclick="bookmarkAdd(this.getAttribute('memberNo'), this.getAttribute('productNo'))">-->
            <!--                        <i class="fa fa-star"></i>위시 리스트에 추가-->
            <!--                    </button>-->
            <!--                </div>-->
            <!--            </div>-->
        </div>
        <div>
            <span></span>
        </div>
        <div class="row" th:if="${not #strings.equals(product.isbn, null)}">
            <div class="col-sm-10 col-md-10 col-lg-10" style="margin-inline: auto; margin-block:20px">
                <table class="w-50 table-borderless book-info">
                    <tbody class="w-100">
                    <tr th:if="${not #strings.equals(product.isbn, null)}">
                        <th>
                            ISBN
                        </th>
                        <td th:text="${product.isbn}">
                        </td>
                    </tr>
                    <tr>
                        <th>작가</th>
                        <td>[[${product.authorName}]]</td>
                    </tr>
                    <tr>
                        <th>출판사</th>
                        <td>[[${product.publisherName}]]</td>
                    </tr>
                    <tr>
                        <th>페이지 수</th>
                        <td>[[${product.pageCount}]]p</td>
                    </tr>
                    <tr>
                        <th>발간일</th>
                        <td th:text="${#strings.substring(product.bookCreatedAt, 0, 10)}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <section th:if="${not #lists.isEmpty(pageResponse.content)}">
        <div class="container">
            <div class="container bootstrap snippets bootdey">
                <h4>연관 상품</h4>
                <div class="wrap">
                    <div class="scroll__wrap">
                        <!--                        <div style="margin-inline: 5px" class="col-sm-2 col-lg-2 mb-2"-->
                        <div class="scroll--element card-wrapper" th:each="rp: ${pageResponse.content}">
                            <div class="card-img"><img class="img-thumbnail-sm" th:src="${rp.fileThumbnailsUrl}"
                                                       alt="...">
                            </div>
                            <a th:href="|@{/products/{productNo}(productNo=${rp.productNo})}|">
                                <div class="card-body">
                                    <i class="fa-solid fa-magnifying-glass-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <p></p>
            <h4>상품 리뷰</h4>
            <div id="starAvg">
                <span class="fa fa-star" id="star1"></span>
                <span class="fa fa-star" id="star2"></span>
                <span class="fa fa-star" id="star3"></span>
                <span class="fa fa-star" id="star4"></span>
                <span class="fa fa-star" id="star5"></span>
            </div>
            <hr>
            <div>
                <div class="container bootstrap snippets bootdey">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main-box no-header clearfix">
                                <div class="main-box-body clearfix">
                                    <div class="table-responsive">
                                        <table class="table user-list" style="margin-left:auto; margin-right:auto;">
                                            <thead>
                                            <tr>
                                                <th class="text-left"><span>사진</span></th>
                                                <th><span>내용</span></th>
                                                <th><span>별점</span></th>
                                                <th class="text-right"><span>작성자</span></th>
                                                <th class="text-center"><span></span></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="review : ${reviewPageResponse.getContent()}">
                                                <td class="text-center"><img style="text-align: center;" height="100px;"
                                                                             th:src="${review.image}">
                                                </td>
                                                <td style="width: 50%;">
                                                    <span style="text-overflow: ellipsis; overflow:hidden; display:block; height:100px;"
                                                          th:text="${review.content}"></span>
                                                </td>
                                                <td>
                                                    <div id="individualStar">
                                                        <span class="fa fa-star"
                                                              th:id="${review.orderProductNo} + 'individualStar1'"></span>
                                                        <span class="fa fa-star"
                                                              th:id="${review.orderProductNo} + 'individualStar2'"></span>
                                                        <span class="fa fa-star"
                                                              th:id="${review.orderProductNo} + 'individualStar3'"></span>
                                                        <span class="fa fa-star"
                                                              th:id="${review.orderProductNo} + 'individualStar4'"></span>
                                                        <span class="fa fa-star"
                                                              th:id="${review.orderProductNo} + 'individualStar5'"></span>
                                                    </div>
                                                    <script>
                                                        for (let i = 1; i <= [[${review.starPoint}]]; i++) {
                                                            console.log([[${review.starPoint}]]);
                                                            document.getElementById([[${review.orderProductNo}]] + 'individualStar' + String(i)).className += ' checked';
                                                        }
                                                    </script>
                                                </td>
                                                <td class="text-right"><span th:text="${review.memberId}"></span></td>
                                                <td class="text-center">
                                                    <button class="btn btn-primary"
                                                            th:onclick="|location.href= '@{/review/{orderProductNo}(orderProductNo = ${review.orderProductNo})}'|">
                                                        상세보기
                                                    </button>
                                                </td>

                                            </tr>
                                            </tbody>
                                        </table>
                                        <p th:unless="${not #lists.isEmpty(reviewPageResponse.content)}"> 리뷰가 존재하지
                                            않습니다.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <th:block th:include="component/reviewPageFooter"></th:block>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <p></p>
            <h4>상품 문의</h4>
            <button sec:authorize="isAuthenticated()" class="btn btn-primary"
                    th:onclick="|location.href= '@{/product-inquiries/{memberNo}/{productNo}/add(memberNo=${memberNo}, productNo = ${product.productNo})}'|">
                문의하기
            </button>
            <hr>
            <div>
                <div class="container bootstrap snippets bootdey">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main-box no-header clearfix">
                                <div class="main-box-body clearfix">
                                    <div class="table-responsive">
                                        <table th:if="${not #lists.isEmpty(productInquiryPageResponse.content)}"
                                               style="margin-left:auto; margin-right:auto;" class="table user-list">
                                            <thead>
                                            <tr>
                                                <th class="text-left"><span>답변여부</span></th>
                                                <th><span>답변제목</span></th>
                                                <th class="text-right"><span>공개여부</span></th>
                                                <th class="text-right"><span>작성자</span></th>
                                                <th><span></span></th>
                                                <th><span></span></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="productInquiry : ${productInquiryPageResponse.getContent()}">
                                                <td class="text-left">
                                                    <span th:text="${productInquiry.isReplied} ? '답변완료' : '미답변'"></span>
                                                </td>
                                                <td style="width: 50%;">
                                                    <strong>
                                                        <span th:text="${productInquiry.isPublic} ? ${productInquiry.title} : '비공개 게시글입니다.'"></span>
                                                    </strong>
                                                </td>
                                                <td class="text-right">
                                                    <span th:text="${productInquiry.isPublic} ? '공개' : '비공개'"></span>
                                                </td>
                                                <td class="text-right">
                                                    <span th:text="${productInquiry.memberId}"></span>
                                                </td>
                                                <td class="text-right">
                                                    <button sec:authorize="!hasAuthority('ADMIN')"
                                                            th:if="${memberIsWriter} == true or ${productInquiry.isPublic} == true or (${productInquiry.isPublic} == false and ${productInquiry.memberId} == ${memberIdLoggedIn})"
                                                            class="btn btn-primary"
                                                            th:onclick="|location.href= '@{/product-inquiries/view/{productInquiryNo}(productInquiryNo = ${productInquiry.productInquiryNo})}'|">
                                                        상세보기
                                                    </button>
                                                    <div sec:authorize="hasAuthority('ADMIN')">
                                                        <button
                                                                class="btn btn-primary"
                                                                th:onclick="|location.href= '@{/product-inquiries/view/{productInquiryNo}(productInquiryNo = ${productInquiry.productInquiryNo})}'|">
                                                            상세보기
                                                        </button>
                                                    </div>
                                                    <br>
                                                </td>
                                                <td class="text-left">
                                                    <div th:if="${memberName} != null and ${#strings.contains(productInquiry.authorName, memberName)}">
                                                        <button th:if="${memberIsWriter} == true and ${productInquiry.isReplied} == false"
                                                                class="btn btn-secondary"
                                                                th:onclick="|location.href= '@{/product-inquiries/view/writer/{productInquiryNo}(productInquiryNo = ${productInquiry.productInquiryNo})}'|">
                                                            답변하기
                                                        </button>
                                                    </div>
                                                    <div sec:authorize="hasAuthority('ADMIN')">
                                                        <button th:if="${productInquiry.isReplied} == false"
                                                                class="btn btn-secondary"
                                                                th:onclick="|location.href= '@{/product-inquiries/view/writer/{productInquiryNo}(productInquiryNo = ${productInquiry.productInquiryNo})}'|">
                                                            답변하기
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <p th:unless="${not #lists.isEmpty(productInquiryPageResponse.content)}"> 상품문의가
                                            존재하지 않습니다.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <th:block th:include="component/productInquiryPageFooter"></th:block>
            </div>
        </div>
    </section>
    <script src="/cart/js/cartAddProduct.js"></script>
    <script th:inline="javascript">

        let productStock = Number([[${product.stock}]]);

        let minusButton;
        let plusButton;
        let inputField;
        if (document.getElementById('quantity')) {
            minusButton = document.getElementById('minus');
            plusButton = document.getElementById('plus');

            inputField = document.getElementById('quantity');

            minusButton.addEventListener('click', event => {
                event.preventDefault();
                let currentValue = Number(inputField.value) || 0;
                if (currentValue <= 1) {
                    currentValue = 2;
                }
                inputField.value = currentValue - 1;
            });

            plusButton.addEventListener('click', event => {
                event.preventDefault();

                let currentValue = Number(inputField.value) || 0;

                if (currentValue < 1) {
                    currentValue = 0;
                }
                inputField.value = currentValue + 1;

                console.log("현재 선택 수량: " + inputField.value);
                if (inputField.value > productStock) {
                    Swal.fire({
                        icon: 'warning',
                        title: '구매 수량이 잘못 되었습니다.',
                        text: '구매가능 수량: 1 ~ ' + productStock
                    })
                    inputField.value = productStock;
                    return;
                }
            });
        }

        let productNo = [[${product.productNo}]];
        let productCnt = 1;

        function goOrderSheet(typeText) {

            let productNo = [[${product.productNo}]];
            // let productCnt = 1;

            if (document.getElementById('quantity')) {
                productCnt = document.getElementById('quantity').value
            }

            if (productCnt < 1 || productCnt > productStock) {
                Swal.fire({
                    icon: 'warning',
                    title: '구매 수량이 잘못 되었습니다.',
                    text: '구매가능 수량: 1 ~ ' + productStock
                })
                return;
            }

            if (typeText === 'subs') {
                let url = "/order-sheet/subscription/select-period?productNo=" + productNo + "&productCnt=" + productCnt;
                location.href = url;
                return;
            }
            let url = "/order-sheet";
            let form = document.createElement('form');
            form.setAttribute('method', 'post');
            form.setAttribute('action', url);

            let field_productNoList = document.createElement('input');
            field_productNoList.setAttribute('name', 'productNoList');
            field_productNoList.setAttribute('value', productNo);
            form.appendChild(field_productNoList);

            let field_productCntList = document.createElement('input');
            field_productCntList.setAttribute('name', 'productCntList');
            field_productCntList.setAttribute('value', productCnt);
            form.appendChild(field_productCntList);

            document.body.appendChild(form);
            form.submit();
        }

        setCategory(productNo);

        console.log(productNo);

        // 비회원 확인 모달창
        $('.non-member-btn').click(function (e) {
            e.preventDefault();
            $('#nonMemberModal').modal("show");
        });

        $('#modalY').click(function () {
            goOrderSheet()
            $('#nonMemberModal').modal("hide");
        })
        $('#modalSubsY').click(function () {
            goOrderSheet('subs')
            $('#nonMemberModal').modal("hide");
        })

        $('#modalN').click(function () {
            $('#nonMemberModal').modal("hide");
        })

        async function setCategory(productNo) {
            let parentCategoryNameDiv = document.getElementById("parentCategoryName");
            let childCategoryNameDiv = document.getElementById("childCategoryName");

            let childCategoryList = "";
            let parentCategoryName;
            await fetch(`/async/products/categories/${productNo}`, {
                method: "GET"
            })
                .then(response => response.json())
                .then(data => {
                    data.forEach(category => {
                        childCategoryList += category.categoryName + " ";
                        parentCategoryName = category.parentCategoryName + " > ";
                    });
                });

            console.log(parentCategoryName);
            console.log(childCategoryList);

            parentCategoryNameDiv.textContent = parentCategoryName;
            childCategoryNameDiv.textContent = childCategoryList;
        }
    </script>
    <script th:inline="javascript">
        let failMessage = [[${failMessage}]];
        if (failMessage) {
            Swal.fire({
                icon: 'error',
                title: failMessage,
                text: '다시 시도해 주세요!',
            })
        }
    </script>
    <script>
        if ($('#starAvg') && [[${reviewPageResponse.getContent().size()}]] > 0) {
            for (let i = 1; i <= [[${avgStarPoint}]]; i++) {
                document.getElementById('star' + String(i)).className += ' checked';
            }
        }
    </script>

</div>
</body>
</html>