<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/mainpage/default-layout}">
<head>


    <meta charset="UTF-8">
    <title>ItBook</title>
</head>
<body>
<div layout:fragment="content">

    <h1 id="type_name"
        style="font-size: 42px; margin-top:20px; padding-bottom: 10px; border-bottom: solid 3px #2c2c2c; margin-bottom: 30px">
        [[${productTypeName}]]
    </h1>

    <div class="row">

        <div class="col-sm-8 col-md-12">
            <!-- Filters -->
            <!--            <ul class="shop__sorting">-->
            <!--                <li><a href="#">베스트셀러</a></li>-->
            <!--                <li><a href="#">신간</a></li>-->
            <!--                <li><a href="#">추천</a></li>-->
            <!--                <li><a href="#">인기</a></li>-->
            <!--                <li><a href="#">할인</a></li>-->
            <!--            </ul>-->

            <div class="row product-grid4" th:if="${not #lists.isEmpty(pageResponse)}">
                <div class="col-md-2" th:each="product : ${pageResponse.content}" style="margin-inline: 19px; text-align: center">
                    <div class="product-image4">
                        <a th:href="@{|/products/${product.productNo}|}">
                            <img class="img-thumbnail" th:src="${product.fileThumbnailsUrl}">
                        </a>
                        <ul class="social">
                            <!--                                                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>-->
                            <th:block sec:authorize="isAnonymous()">
                                <li><a data-tip="위시리스트에 담기"><i class="fa fa-shopping-bag"></i></a></li>
                            </th:block>

                            <th:block sec:authorize="isAuthenticated()">
                                <li th:attr="productNo=${product.productNo}, memberNo=${#authentication.principal.memberNo}"
                                    th:onclick="bookmarkAdd(this.getAttribute('memberNo'), this.getAttribute('productNo'))">
                                    <a data-tip="위시리스트에 담기"><i class="fa fa-shopping-bag"></i></a>
                                </li>
                            </th:block>

                            <li class="addCartBtn" th:attr="productNo=${product.productNo}"
                                th:onclick="addProduct(this.getAttribute('productNo'))">
                                <a data-tip="장바구니 담기"><i class="fa fa-shopping-cart"></i></a>
                            </li>
                        </ul>
                        <!--                            <ul class="social">-->
                        <!--                                <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>-->
                        <!--                                <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>-->
                        <!--                                <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>-->
                        <!--                            </ul>-->
                        <span th:if="${product.isSubscription == true}" class="product-discount-label">구독</span>

                    </div>
                    </a>
<!--                    <ul class="rating">-->
<!--                        <li class="fa fa-star"></li>-->
<!--                        <li class="fa fa-star"></li>-->
<!--                        <li class="fa fa-star"></li>-->
<!--                        <li class="fa fa-star"></li>-->
<!--                        <li class="fa fa-star"></li>-->
<!--                    </ul>-->
                    <div class="product-content">
                        <h3 class="title">[[${product.productName}]]</h3>
                        <div class="price">[[${#numbers.formatInteger(product.selledPrice, 3, 'COMMA') + '원'}]]
                            <span>[[${#numbers.formatInteger(product.fixedPrice, 3, 'COMMA') + '원'}]]</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" th:unless="${not #lists.isEmpty(pageResponse)}" style="text-align: center">
                <p>해당 카테고리에 속하는 상품이 존재하지 않습니다.</p>
            </div>


        </div>
    </div>
    <th:block th:include="component/pageFooter"></th:block>
    <script src="/mainpage/js/category.js"></script>
    <script src="/bookmark/js/bookmarkAdd.js"></script>
    <script src="/cart/js/cartAddProduct.js"></script>
</div>
</body>
</html>