<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainpage/default-layout}">
<head>

    <meta charset="UTF-8">
    <title>ItBook</title>
</head>
<body>
<div layout:fragment="content">

    <h1 class="main_title"
        style="font-size: 42px; padding-bottom: 10px; border-bottom: solid 3px #03a9ff; margin-bottom: 30px">
        [[${keyword}]]</h1>

    <div class="row">

        <div class="col-sm-8 col-md-12">
            <div class="row product-grid4" th:if="${not #lists.isEmpty(pageResponse.getContent())}">
                <div class="col-md-2" th:each="product : ${pageResponse.content}" style="text-align: center">
                    <div class="product-image4">
                        <a href="#">
                            <img class="pic-1" th:src="${product.thumbnailUrl}">
                        </a>
                        <span class="product-discount-label"
                              th:if="${product.isForceSoldOut == true or product.stock == 0}">
                                    품절</span>
                        <span class="product-new-label">[[${product.discountPercent}]]%</span>
                    </div>
                    <ul class="rating">
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                    </ul>
                    <div class="product-content">
                        <h3 class="title"><a
                                th:href="@{|/products/${product.productNo}|}">[[${product.name}]]</a></h3>
                        <div class="price">[[${#numbers.formatInteger(product.selledPrice, 3, 'COMMA') + '원'}]]
                            <span>[[${#numbers.formatInteger(product.fixedPrice, 3, 'COMMA') + '원'}]]</span>
                        </div>
                        <a class="add-to-cart" href="">+ Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="row" th:unless="${not #lists.isEmpty(pageResponse.getContent())}" style="text-align: center">
                <p>검색결과가 존재하지 않습니다.</p>
            </div>

        </div>
        <th:block th:include="component/pageFooter"></th:block>

    </div>
    <script src="/mainpage/js/category.js"></script>
</div>
</body>
</html>