<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/mainpage/default-layout}">
<head>

    <meta charset="UTF-8">
    <title>ItBook</title>
</head>
<body>
<div layout:fragment="content">

    <h1 class="main_title"
        style="font-size: 42px; padding-bottom: 10px; border-bottom: solid 3px #d6d6d6; margin-top:15px; margin-bottom: 30px">
        [[${keyword}]]</h1>

    <div class="row">

        <div class="col-sm-8 col-md-12">
            <div class="row product-grid4" th:if="${not #lists.isEmpty(pageResponse)}">
                <div class="col-md-2" th:each="product : ${pageResponse.content}"
                     style="margin-inline: 19px; text-align: center">
                    <div class="product-image4">
                        <a th:href="@{|/products/${product.productNo}|}">
                            <img class="img-thumbnail" th:src="${product.thumbnailUrl}">
                        </a>
                        <ul class="social">
                            <!--                                                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>-->
                            <th:block sec:authorize="isAnonymous()">
                                <li><a data-tip="위시리스트에 담기"><i class="fa fa-shopping-bag"></i></a></li>
                            </th:block>

                            <th:block sec:authorize="isAuthenticated()">
                                <li th:attr="productNo=${product.productNo}, memberNo=${#authentication.principal.memberNo}"
                                    th:onclick="bookmarkAdd(this.getAttribute('memberNo'), this.getAttribute('productNo'))">
                                    <a data-tip="위시리스트에 담기"><i class="fa fa-shopping-bag"></i></a>
                                </li>
                            </th:block>

                            <li class="addCartBtn" th:attr="productNo=${product.productNo}"
                                th:onclick="addProduct(this.getAttribute('productNo'))">
                                <a data-tip="장바구니 담기"><i class="fa fa-shopping-cart"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="product-content">
                        <h3 class="title">[[${product.name}]]</h3>
                        <div class="price">[[${#numbers.formatInteger(product.selledPrice, 1, 'COMMA')}]]원
                            <span>[[${#numbers.formatInteger(product.fixedPrice, 1, 'COMMA')}]]원</span>
                            <span>([[${product.discountPercent}]]%)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${not #strings.isEmpty(searchTermsIgnored)}">
                <b th:text="${searchTermsIgnored}"></b> 부터의 검색어는 무시되었습니다. 검색어는 공백 포함 50자로 제한됩니다.<br>
            </div>
            <div class="row" th:unless="${not #lists.isEmpty(pageResponse.getContent())}" style="text-align: center">
                <p>검색결과가 존재하지 않습니다.</p>
            </div>


        </div>
        <th:block th:include="component/pageFooter"></th:block>
        <script src="/mainpage/js/category.js"></script>
        <script src="/bookmark/js/bookmarkAdd.js"></script>
        <script src="/cart/js/cartAddProduct.js"></script>
    </div>
    <script src="/mainpage/js/category.js"></script>
</div>
</body>
</html>