<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminpage/default-layout}">
<head>
    <meta charset="UTF-8">
    <title>categoryList</title>
</head>

<div layout:fragment="content">

    <h1 style="text-align: center">전체 카테고리 목록</h1>
    <div class="container">
        <table class="table table-striped" style="text-align: center">
            <thead>
            <tr>
                <th style="width: auto">구분</th>
                <th style="width: auto">카테고리명</th>
                <th style="width: auto">상품 개수</th>
                <th style="width: auto">숨김상태</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category : ${categoryList}">
                <td th:if="${#strings.equals(category.level, 0)}">대분류</td>
                <td th:unless="${#strings.equals(category.level, 0)}"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ㄴ소분류</td>
                <td th:text="${category.categoryName}"></td>
                <td th:text="${category.count}"></td>
                <td th:text="${category.isHidden}"></td>
                <td>
                    <button style="width: auto; margin-left: 10px" class="btn btn-primary" th:onclick="|location.href='@{/admin/categories/{categoryNo}/category-modify/hidden(categoryNo=${category.categoryNo})}'|">
                        숨김여부변경
                    </button>
                </td>
                <td th:if="${#strings.equals(category.level, 0)}">
                    <button style="width: auto; margin-left: 10px" class="btn btn-primary" th:onclick="|location.href='@{/admin/categories/{categoryNo}/modify-form/main-category-sequence(categoryNo=${category.categoryNo}, categoryName=${category.categoryName})}'|">
                        노출위치변경
                    </button>
                </td>
                <td th:unless="${#strings.equals(category.level, 0)}">
                    <button style="width: auto; margin-left: 10px" class="btn btn-primary" th:onclick="|location.href='@{/admin/categories/{categoryNo}/modify-form/sub-category-sequence(categoryNo=${category.categoryNo}, categoryName=${category.categoryName})}'|">
                        노출위치변경
                    </button>
                </td>
                <td>
                    <button style="width: auto; margin-left: 10px" class="btn btn-danger" th:onclick="|location.href='@{/admin/categories/{categoryNo}/category-deletion(categoryNo=${category.categoryNo})}'|">
                        삭제
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <script th:src="@{/category/js/categoryAdmin.js}"></script>
    <script th:inline="javascript">
        let failMessage = [[${failMessage}]];
        if (failMessage) {
            alert(failMessage);
        }
    </script>
</div>

</html>