<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminpage/default-layout}">
<head>
    <meta charset="UTF-8">
    <title>categoryAddForm</title>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<div layout:fragment="content">
    <div id="form-main">
        <div id="form-div">
            <h1 th:if="${mainCategoryNo == 0}">대분류 카테고리 등록</h1>
            <h1 th:unless="${mainCategoryNo == 0}">소분류 카테고리 등록</h1>
            <form class="form" method="post" action="/admin/categories/category-addition">
                <p class="name">
                    <input name="categoryName" type="text"
                           class="validate[required,custom[onlyLetter],length[0,20]] feedback-input" placeholder="Name"/>
                </p>
                <p>숨기기 여부 :
                    <label><input type="radio" name="isHidden" value="true">Yes</label>
                    <label><input type="radio" name="isHidden" value="false" checked>No</label>
                </p>
                <input type="hidden" name="parentCategoryNo" th:value="${mainCategoryNo}">
                <input type="submit" value="등록"/>
            </form>
        </div>
    </div>
</div>

</html>