<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminpage/default-layout}">
<head>
    <meta charset="UTF-8">
    <title>categoryAddForm</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>

<div layout:fragment="content">
    <!--    <div style="width: auto;margin: auto">-->
    <!--      <button style=" margin: auto; display: inline-block;" class="btn btn-primary mt-5" onclick="location.href='/admin/categories/category-addition/main-category'">대분류 추가하기</button>-->
    <!--      <button style=" margin: auto; display: inline-block;" class="btn btn-primary mt-5" onclick="location.href='/admin/categories/category-addition/sub-category/select-form'">소분류 추가하기</button>-->
    <!--    </div>-->
    <div class="content">
        <h2>등록할 카테고리 분류 선택</h2>
        <hr>
        <div class="snippets bootdey">
            <div class="row">
                <div class="col-md-3">
                    <a href="/admin/categories/category-addition/main-category"
                       style="text-decoration: none; color:#000000">
                        <div class="card bg-light text-dark " style="padding:20px">
                        <div class="card-heading">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <i class="fa fa-solid fa-bars fa-5x"></i>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <p class="announcement-heading">&nbsp;</p>
                                        <h5 class="announcement-text">대분류</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body announcement-bottom">
                                <div class="row">
                                    <div class="col-xs-6">등록하러 가기</div>
                                    <div class="col-xs-6 text-right">
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="/admin/categories/category-addition/sub-category/select-form"
                       style="text-decoration: none; color:#000000">
                        <div class="card bg-light text-dark " style="padding:20px">
                        <div class="card-heading">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <i class="fa fa-solid fa-bars-staggered fa-5x"></i>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <p class="announcement-heading">&nbsp;</p>
                                        <h5 class="announcement-text">소분류</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body announcement-bottom">
                                <div class="row">
                                    <div class="col-xs-6">등록하러 가기</div>
                                    <div class="col-xs-6 text-right">
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<script th:inline="javascript">
    let failMessage = [[${failMessage}]];
    if (failMessage) {
        Swal.fire({
            icon: 'error',
            title: failMessage,
            text: '다시 시도해 주세요!',
        })
    }
</script>
</div>

</html>