<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminpage/default-layout}">
<head>
    <meta charset="UTF-8">
    <title>categoryList</title>
</head>

<div layout:fragment="content">

    <h1 style="text-align: center" th:text="${categoryList[0].categoryName}"></h1>
    <div class="container">
        <table class="table table-striped" style="text-align: center">
            <thead>
            <tr>
                <th style="width: auto">카테고리명</th>
                <th style="width: auto">상품 개수</th>
                <th style="width: auto">숨김상태</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category : ${categoryList}">
                <th:block th:unless="${#strings.equals(category.level, 0)}">
                    <td th:text="${category.categoryName}"></td>
                    <td th:text="${category.count}"></td>
                    <td th:text="${category.isHidden}"></td>
                    <td>
                        <button style="width: auto; margin-left: 10px" class="btn btn-primary" th:onclick="|location.href='@{/admin/categories/{categoryNo}/category-modification(categoryNo=${category.categoryNo}, categoryName=${category.categoryName}, isHidden=${category.isHidden})}'|">
                            수정
                        </button>
                    <td>
                </th:block>
            </tr>
            </tbody>
        </table>

    </div>

    <script th:src="@{/category/js/categoryAdmin.js}"></script>
</div>

</html>