<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/mainpage/default-layout}">
<head>
    <meta charset="UTF-8">
    <title>주문 상세</title>
    <link rel="stylesheet" href="/adminpage/member/css/memberlist.css">

</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="container">
            <!-- Title -->
            <div class="d-flex justify-content-between align-items-center py-3">
                <h2 class="h5 mb-0"><a href="#" class="text-muted">
                </a> 주문
                    #<span th:text="${orderDetails.orderNo}" }></span>
                </h2>
                <div th:if="${orderDetails.nonMemberOrderCode != null}">
                    &nbsp;&nbsp;&nbsp;비회원 주문 코드:&nbsp;
                    <span th:text="${orderDetails.nonMemberOrderCode}"></span>
                </div>
            </div>

            <!-- Main content -->
            <div class="row">
                <div class="col-lg-8">
                    <!-- Details -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-3 d-flex justify-content-between">
                                <div>
                                    <span class="me-3"
                                          th:text="${#temporals.format(orderDetails.orderStatusCreatedAt)}"></span>
                                    <span class="badge rounded-pill bg-info"
                                          th:text="${orderDetails.orderStatus}"></span>
                                </div>
                                <div class="d-flex">
                                    <!--                                    <button class="btn btn-link p-0 me-3 d-none d-lg-block btn-icon-text"><i-->
                                    <!--                                            class="bi bi-download"></i> <span class="text">영수증 보기</span></button>-->
                                    <div class="dropdown">
                                        <button class="btn btn-link p-0 text-muted" type="button"
                                                data-bs-toggle="dropdown">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" href="#"><i class="bi bi-pencil"></i> Edit</a>
                                            </li>
                                            <li><a class="dropdown-item" href="#"><i class="bi bi-printer"></i>
                                                Print</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-borderless">
                                <tbody>
                                <tr th:each="product : ${orderDetails.orderProductDetailResponseDtoList}">
                                    <td>
                                        <div class="d-flex mb-2">
                                            <div class="flex-shrink-0">
                                                <img th:src="${product.fileThumbnailsUrl}" alt="" width="35"
                                                     class="img-fluid">
                                            </div>
                                            <div class="flex-lg-grow-1 ms-3">
                                                <h6 class="small mb-0"><a
                                                        th:href="@{|/products/${product.productNo}|}" class="text-reset"
                                                        th:text="${product.productName}"></a>
                                                </h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td th:text="${product.count}"></td>
                                    <td class="text-end">
                                        <span th:text="${#numbers.formatInteger(product.productPrice,3,'COMMA')}"></span>
                                        원 / <span
                                            th:text="${#numbers.formatInteger(product.sellingPrice,3,'COMMA')}"></span>
                                        원
                                    </td>
                                </tr>

                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="2">상품 금액</td>
                                    <td class="text-end">
                                        <span th:text="${#numbers.formatInteger(orderDetails.sellingAmount,3,'COMMA')}"></span>
                                        원
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">배송비</td>
                                    <td class="text-end">
                                        <span th:if="${orderDetails.deliveryFee != 0}"
                                              th:text="${#numbers.formatInteger(orderDetails.deliveryFee,3,'COMMA')}"></span>
                                        <span th:unless="${orderDetails.deliveryFee != 0 }">
                                            0
                                        </span>
                                        원
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">할인(쿠폰 + 포인트)</td>
                                    <td class="text-danger text-end">
                                        &nbsp;
                                        <span th:if="${orderDetails.amount != null}"
                                              th:text="${#numbers.formatInteger(orderDetails.sellingAmount + orderDetails.deliveryFee - orderDetails.amount,3,'COMMA')}">
                                        </span>
                                        <!--                                        <span th:text="${orderDetails.paymentCardResponseDto.totalAmount}"></span>-->
                                        원
                                    </td>
                                </tr>
                                <tr class="fw-bold">
                                    <td colspan="2">주문 금액</td>
                                    <td class="text-end">
                                        <!--                                        <span th:text="${orderDetails.paymentCardResponseDto.totalAmount}"></span>-->
                                        <span th:if="${orderDetails.amount != null}"
                                              th:text="${#numbers.formatInteger(orderDetails.amount,3,'COMMA')}"></span>
                                        원
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <!-- Coupon -->
                    <div class="card mb-4" th:if="${orderDetails.couponName != null}">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h3 class="h6">쿠폰 정보</h3>
                                    <table class="table user-list">
                                        <thead>
                                        <tr>
                                            <td>쿠폰이름</td>
                                            <td>할인가격</td>
                                            <td>분류</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td th:if="${orderDetails.couponName != null}">
                                                <span th:text="${orderDetails.couponName}"></span><br>
                                            </td>
                                            <td th:if="${orderDetails.totalCouponAmount != 0}">
                                                <span th:text="${orderDetails.totalCouponAmount}"></span>
                                                원
                                            </td>
                                            <td th:if="${orderDetails.totalCouponPercent != 0}">
                                                <span th:text="${#numbers.formatInteger(orderDetails.couponAmount,3,'COMMA')}"></span>
                                                원
                                            </td>
                                            <td>총액 쿠폰</td>
                                        </tr>
                                        <th:block th:each="item : ${orderDetails.orderProductDetailResponseDtoList}">
                                            <tr>
                                                <th:block th:if="${item.couponName != null}">
                                                    <td th:text="${item.couponName}"></td>
                                                    <td th:if="${item.couponAmount != 0}">
                                                        <span th:text="${#numbers.formatInteger(item.couponAmount,3,'COMMA')}"></span>
                                                        원
                                                    </td>
                                                    <td th:if="${item.couponPercent != 0}">
                                                        <span th:text="${#numbers.formatInteger(item.sellingPrice - item.productPrice,3,'COMMA')}"></span>
                                                        원
                                                    </td>
                                                    <td>상품 및 카테고리쿠폰</td>
                                                </th:block>
                                            </tr>
                                        </th:block>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- Customer Notes -->
                    <!--                    <div class="card mb-4">-->
                    <!--                        <div class="card-body">-->
                    <!--                            <h3 class="h6">Customer Notes</h3>-->
                    <!--                            <p>Sed enim, faucibus litora velit vestibulum habitasse. Cras lobortis cum sem aliquet-->
                    <!--                                mauris rutrum. Sollicitudin. Morbi, sem tellus vestibulum porttitor.</p>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <div class="card mb-4">
                        <!-- Shipping information -->
                        <div class="card-body">
                            <div class="flex-content justify-content-between">
                                <span class="font-weight-bold">배송 정보</span>
                                <button th:if="${orderDetails.orderStatus == '배송중'}" class="btn btn-info text-white"
                                        th:onclick="|location.href='@{/deliveries/completion/{deliveryNo}(deliveryNo=${orderDetails.deliveryNo})}'|">
                                    배송 조회
                                </button>
                            </div>
                            <!--                            <strong>FedEx</strong>-->
                            <span>
<!--                                <a href="#" class="text-decoration-underline" target="_blank"></a>-->
                                <span th:text="${orderDetails.trackingNo}"></span>
                                <span th:if="${orderDetails.trackingNo == null}">미발송</span>
                                <i class="bi bi-box-arrow-up-right"></i> </span>
                            <hr>
                            <h3 class="h6">주소</h3>
                            <address>
                                <strong th:text="${orderDetails.orderDestinationDto.recipientName}"></strong><br>
                                <span th:text="${orderDetails.orderDestinationDto.roadNameAddress}"></span><br>
                                <span th:text="${orderDetails.orderDestinationDto.recipientAddressDetails}"></span><br>
                                <abbr title="Phone"
                                      th:text="${orderDetails.orderDestinationDto.recipientPhoneNumber}"></abbr>
                            </address>
                        </div>
                        <br>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="font-weight-bold">주문 일시</div>
                            <div class="d-flex justify-content-between">
                                <span class="me-3"
                                      th:text="${#temporals.format(orderDetails.orderCreatedAt)}"></span>
                                <button style="float: right;"
                                        th:if="${#strings.contains('결제완료배송대기배송완료',orderDetails.orderStatus)}"
                                        th:orderNo="${orderDetails.getOrderNo()}"
                                        class="btn btn-danger btn-sm rounded-4"
                                        onclick="getInputCancelReason(this.getAttribute('orderNo'),false)">환불
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/order/js/myOrderList.js"></script>

</div>
</body>
</html>