<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/mainpage/default-layout}">
<head>
    <meta charset="UTF-8">
    <title>비회원 구독 주문 상세</title>
    <script src="/order/js/order.js"></script>
    <script src="/category/js/category.js"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="container ml-1 mt-5 d-flex justify-content-center align-content-center">
        <div class="card border-success" style="width: 30rem;">
            <div class="card-body">
                <h5 class="card-title text-center">비회원 구독 주문 상세조회</h5>
                <form class="form" method="post" action="/non-member/subscription-order-details"
                      onsubmit="return findOrderSubmit()">
                    주문번호 : <input name="orderNo" type="number" id="orderNo" required="" placeholder="주문번호"/> <br>
                    주문코드 : <input name="orderCode" type="text" id="orderCode" required="" placeholder="주문코드"
                class="mt-2"/> <br>
                    <input class="btn btn-primary rounded-3" type="submit" id="submit" value="조회"/>
                </form>
            </div>
        </div>

    </div>
</div>
</body>
</html>