<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminpage/default-layout}">
<head>
    <meta charset="UTF-8">
    <script th:src="@{/coupon/couponResident.js}"></script>

    <title>쿠폰 등록</title>
</head>
<div layout:fragment="content">
    <div class="flex-shrink-0 p-3 bg-white">
        <div id="form-main">
            <form id="couponAddForm" method="post">
                <div id="form-div">
                    <div>
                        <h4>쿠폰 발급</h4>
                        <div class="border-top my-3"></div>
                        <div class="form-group">
                            <label for='selectCoupon'>쿠폰 종류</label>
                            <select id='selectCoupon' th:field="${couponInputRequestDto.couponType}"
                                    onchange="selectCouponDiv(this)">
                                <option value="">쿠폰의 종류를 선택해주세요.</option>
                                <option value="일반쿠폰">일반쿠폰</option>
                                <option value="웰컴쿠폰">웰컴 쿠폰</option>
                                <option value="이달의쿠폰예약형">이달의 쿠폰 -예약형-</option>
                                <option value="이달의쿠폰등급형">이달의 쿠폰 -등급형-</option>
                                <option value="생일쿠폰">생일 쿠폰</option>
                            </select>
                        </div>
                        <div class="alert alert-light">
                            <div id="normalCouponDiv" style="display:none;">
                                일반쿠폰
                                <input type="text" class="form-control form-control-lg" id="memberId"
                                       th:field="${couponInputRequestDto.userId}"/>
                                <button type="button" onclick="checkMemberId()" id="memberIdCheckBtn">아이디 확인</button>
                                <button type="button"
                                        onclick="retypeFn('memberId', 'memberIdExists', 'memberIdNotExists', 'memberIdCheckBtn', 'memberIdRetypeBtn')"
                                        id="memberIdRetypeBtn" style="visibility:hidden;">다시 입력
                                </button>
                                <div id="memberIdNotExists" style="display:none;">존재하지 않는 아이디입니다.</div>
                                <div id="memberIdExists" style="display:none;">존재하는 아이디입니다.</div>
                            </div>
                            <input class="btn btn-primary" style="margin-left: 20px" type="submit"
                                   th:formaction="@{/admin/coupons/coupon-addition}" value="등록하기"/>
                        </div>
                        <div class="alert alert-light">
                            <div id="membershipMonthlyCouponDiv" style="display:none;">
                                이달의 쿠폰 -등급형-
                                <label for='selectMembership'>쿠폰 종류</label>
<!--                                <select id='selectMembership' th:field="${couponInputRequestDto.membershipGrade}" onchange="selectMembershipDiv(this)">-->
                                    <select id='selectMembership'>
                                        <option value="">쿠폰의 종류를 선택해주세요.</option>
                                        <option value="일반쿠폰">일반</option>
                                        <option value="웰컴쿠폰">실버</option>
                                        <option value="이달의쿠폰예약형">골드</option>
                                        <option value="이달의쿠폰등급형">플레티넘</option>
                                        <option value="생일쿠폰">다이아</option>
                                    </select>
                                <input class="btn btn-primary" style="margin-left: 20px" type="submit"
                                       th:formaction="@{/admin/coupons/coupon-addition}" value="등록하기"/>
                            </div>
                        </div>

                        <!--                    <input class="btn btn-primary" style="margin-left: 20px" type="submit" th:formaction="@{/admin/coupons/coupon-addition/all}" value="전체 사용 쿠폰 등록하기"/>-->
                        <!--                    <input class="btn btn-primary" style="margin-left: 20px" type="submit" th:formaction="@{/admin/coupons/coupon-addition/category}" value="카테고리 쿠폰 등록하기"/>-->
                        <!--                    <input class="btn btn-primary" style="margin-left: 20px" type="submit" th:formaction="@{/admin/coupons/coupon-addition/product}" value="상품 쿠폰 등록하기"/>-->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</html>

