<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminpage/default-layout}">
<head>
    <meta charset="UTF-8">
    <script th:src="@{/coupon/couponResident.js}"></script>

    <title>쿠폰 등록</title>
</head>

<div layout:fragment="content">
    <div class="flex-shrink-0 p-3 bg-white">

        <div id="form-main">
            <form id="couponAddForm" method="post">

                <div id="form-div">

                    <h3>쿠폰 생성</h3>
                    <div class="border-top my-3"></div>
                    <div>
                        <h4>쿠폰 발급</h4>
                        <div class="border-top my-3"></div>
                        <div class="form-group">
                            <label for='selectCoupon'>쿠폰 종류</label>
                            <select id='selectCoupon' th:field="${couponInputRequestDto.couponType}"
                                    onchange="selectCouponDiv(this)">
                                <option value="">쿠폰의 종류를 선택해주세요.</option>
                                <option value="일반쿠폰">일반쿠폰</option>
                                <option value="웰컴쿠폰">웰컴 쿠폰</option>
                                <option value="이달의쿠폰예약형">이달의 쿠폰 -예약형-</option>
                                <option value="이달의쿠폰등급형">이달의 쿠폰 -등급형-</option>
                                <option value="생일쿠폰">생일 쿠폰</option>
                            </select>
                        </div>
                        <div class="alert alert-light">
                            <div id="normalCouponDiv" style="display:none;">
                                일반쿠폰
                                <input type="text" class="form-control form-control-lg" name="memberId"
                                       th:field="${couponInputRequestDto.userId}"/>
                                <button type="button" onclick="checkMemberId()" id="memberIdCheckBtn">아이디 확인</button>
                                <button type="button"
                                        onclick="retypeFn('memberId', 'memberIdExists', 'memberIdNotExists', 'memberIdCheckBtn', 'memberIdRetypeBtn')"
                                        id="memberIdRetypeBtn" style="visibility:hidden;">다시 입력
                                </button>
                                <div id="memberIdNotExists" style="display:none;">존재하지 않는 아이디입니다.</div>
                                <div id="memberIdExists" style="display:none;">존재하는 아이디입니다.</div>
                            </div>
                        </div>
                        <div class="alert alert-light">
                            <div id="membershipMonthlyCouponDiv" style="display:none;">

                                <label for='selectMembership'>등급 선택</label>
                                <select id='selectMembership' name="membership">
                                    <option value="">회원 등급을 선택해주세요.</option>
                                    <option th:each="membership: ${membershipList}"
                                            th:value="${membership.membershipNo}"
                                            th:text="${membership.membershipGrade}">
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div>
                        <h4>쿠폰 정보</h4>
                        <div class="border-top my-3"></div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" placeholder="쿠폰이름"
                                   th:field="${couponInputRequestDto.name}">
                        </div>
                        <div class="alert alert-light">
                            <div class="form-check">
                                <input class="custom-control-input" type="radio" name="couponAmountGroup"
                                       id="pointRadio"
                                       onclick="selectCouponOption()">
                                <label class="form-check-label" for="pointRadio">
                                    포인트 쿠폰
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="custom-control-input" type="radio" name="couponAmountGroup"
                                       id="percentRadio"
                                       onclick="selectCouponOption()">
                                <label class="form-check-label" for="percentRadio">
                                    정률 쿠폰
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="custom-control-input" type="radio" name="couponAmountGroup"
                                       id="amountRadio"
                                       onclick="selectCouponOption()">
                                <label class="form-check-label" for="amountRadio">
                                    금액 쿠폰
                                </label>
                            </div>
                            <div id="pointDiv" style="display:none;">
                                <label for="point">포인트</label>
                                <input class="form-control" type="text" id="point"
                                       placeholder="사용시 지급 할 포인트 금액을 입력해주세요."
                                       th:field="${couponInputRequestDto.point}">
                            </div>
                            <div id="percentDiv" style="display:none;">
                                <label for="percent">정률</label>
                                <input class="form-control" type="text" id="percent"
                                       placeholder="1부터 100사이의 숫자를 입력해주세요."
                                       th:field="${couponInputRequestDto.percent}">
                            </div>
                            <div id="amountDiv" style="display:none;">
                                <label for="amount">정액</label>
                                <input class="form-control" type="text" id="amount" placeholder="할인 금액을 입력해주세요."
                                       th:field="${couponInputRequestDto.amount}">
                            </div>
                            <div id="minDiv" style="display:none;">
                                <label for="min">최소 이용 가능 금액</label>
                                <input class="form-control" type="text" id="min" placeholder="쿠폰 적용 기준금액을 입력해주세요."
                                       th:field="${couponInputRequestDto.standardAmount}">
                            </div>
                            <div id="maxDiv" style="display:none;">
                                <label for="max">최대 할인 금액</label>
                                <input class="form-control" type="text" id="max" placeholder="쿠폰이 할인 가능한 최대금액을 입력해주세요."
                                       th:field="${couponInputRequestDto.maxDiscountAmount}">
                            </div>
                        </div>

                        <div id="couponCoverageDiv" style="display:none;">
                            <div class="alert alert-light">
                                쿠폰 적용범위
                                <div class="form-check">
                                    <input class="custom-control-input" type="radio" name="couponCoverageGroup"
                                           id="allProductRadio" value="total"
                                           onclick="selectCouponCoverage()">
                                    <label class="form-check-label" for="allProductRadio">
                                        전체
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="custom-control-input" type="radio" name="couponCoverageGroup"
                                           id="categoryRadio" value="category"
                                           onclick="selectCouponCoverage()">
                                    <label class="form-check-label" for="categoryRadio">
                                        카테고리
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="custom-control-input" type="radio" name="couponCoverageGroup"
                                           id="oneProductRadio" value="product"
                                           onclick="selectCouponCoverage()">
                                    <label class="form-check-label" for="oneProductRadio">
                                        상품
                                    </label>
                                </div>
                                <div class="form-check" style="display:none;">
                                    <input class="custom-control-input" type="radio" name="couponCoverageGroup"
                                           id="pointCoverageRadio" value="point">
                                    <label class="form-check-label" for="pointCoverageRadio">
                                        포인트
                                    </label>
                                </div>
                                <div id="selectCategoryDiv" style="display:none;">
                                    <div class="col-md-8">
                                        <label style="margin-right: 5px">카테고리</label>
                                        <select id="mainCategory" name="mainCategory">
                                            <option th:each="mainCategory: ${mainCategoryList}"
                                                    th:value="${mainCategory.categoryNo}"
                                                    th:text="${mainCategory.categoryName}">
                                            </option>
                                        </select>
                                        <button type="button" style="margin-left: 5px" class="btn btn-light btn-sm"
                                                onclick="showSubCategory(event)">하위 카테고리 펼치기
                                        </button>
                                        <div id="categoryCheckBox" style="display:none">
                                        </div>
                                    </div>
                                </div>
                                <div id="selectProductDiv" style="display:none;">
                                    <label for="selectProduct">상품 선택</label>
                                    <input class="form-control" type="text" id="selectProduct"
                                           placeholder="상품을 선택해주세요.">
                                    <button type="button" style="margin-left: 5px" class="btn btn-light btn-sm"
                                            onclick="showSearchProductList(event)">상품 검색 결과 리스트
                                    </button>
                                    <div id="productRadioBox" style="display:none">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="alert alert-light">
                            <label for="totalQuantity">수량</label>
                            <input class="form-control" type="text" id="totalQuantity"
                                   placeholder="입력하지 않으면 무제한으로 발급됩니다."
                                   th:field="${couponInputRequestDto.totalQuantity}">
                        </div>
                        <div class="alert alert-light">
                            발행 가능일
                            <input type="datetime-local" class="form-control form-control-lg"
                                   th:field="${couponInputRequestDto.couponCreatedAt}"/>
                            만료일
                            <input type="datetime-local" class="form-control form-control-lg"
                                   th:field="${couponInputRequestDto.couponExpiredAt}"/>
                        </div>
                        <div class="form-group">
                            <label for="image">쿠폰 사진넣기</label>
                            <input type="file" class="form-control-file" id="image" accept="image/*"
                                   th:field="${couponInputRequestDto.image}"/>

                        </div>


                    </div>
                    <div id="defaultButtonDiv">
                        <input class="btn btn-primary" style="margin-left: 20px" type="submit"
                               th:formaction="@{/admin/coupons/coupon-addition}" value="등록하기"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
</html>

