<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminpage/default-layout}">
<head>
    <meta charset="UTF-8">
    <script src="/coupon/couponResident.js"></script>
    <script src="/mypage/member/js/signup.js"></script>
    <title>쿠폰 등록</title>
</head>

<div layout:fragment="content">
    <div class="flex-shrink-0 p-3 bg-white">

        <div id="form-main">
            <form id="couponAddForm" name="productAddForm" method="post" action="/admin/coupons/coupon-addition"
                  onsubmit="return addCouponSubmit()">

                <div id="form-div">

                    <h3>쿠폰 생성</h3>
                    <div class="border-top my-3"></div>
                    <div>
                        <h4>쿠폰 발급</h4>
                        <div class="border-top my-3"></div>
                        <div class="form-group">
                            <label for='selectCoupon'>쿠폰 종류</label>
                            <select id='selectCoupon' th:field="${couponInputRequestDto.couponType}"
                                    onchange="selectCouponDiv(this)">
                                <option value="">쿠폰의 종류를 선택해주세요.</option>
                                <option value="일반쿠폰">일반쿠폰</option>
                                <option value="웰컴쿠폰">웰컴 쿠폰</option>
                                <option value="이달의쿠폰예약형">이달의 쿠폰 -예약형-</option>
                                <option value="이달의쿠폰등급형">이달의 쿠폰 -등급형-</option>
                                <option value="생일쿠폰">생일 쿠폰</option>
                            </select>
                        </div>
                        <div class="alert alert-light">
                            <div id="normalCouponDiv" style="display:none;">
                                <label for="memberId">일반쿠폰</label>
                                <input type="text" class="form-control form-control-lg" name="memberId"
                                       id="memberId"/>
                                <button class="btn btn-light" type="button" onclick="checkMemberIdDuplicateInCoupon()"
                                        id="memberIdCheckBtn">아이디 확인
                                </button>
                                <button class="btn btn-light" type="button"
                                        onclick="retypeFnCheck('memberId', 'memberIdExists', 'memberIdNotExists', 'memberIdCheckBtn', 'memberIdRetypeBtn')"
                                        id="memberIdRetypeBtn" style="visibility:hidden;">다시 입력
                                </button>
                                <div id="memberIdNotExists" style="display:none;"><b>존재하지 않는 아이디입니다.</b></div>
                                <div id="memberIdExists" style="display:none;"><b>존재하는 아이디입니다.</b></div>
                            </div>
                            <div id="membershipMonthlyCouponDiv" style="display:none;">
                                <label for='selectMembership'>등급 선택</label>
                                <select id='selectMembership' name="membership">
                                    <option value="">회원 등급을 선택해주세요.</option>
                                    <option th:each="membership: ${membershipList}"
                                            th:value="${membership.membershipGrade}"
                                            th:text="${membership.membershipGrade}">
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div>
                        <h4>쿠폰 정보</h4>
                        <div class="border-top my-3"></div>
                        <div class="form-group col-4">
                            <input type="text" class="form-control" id="name" placeholder="쿠폰이름"
                                   th:field="${couponInputRequestDto.name}">
                        </div>
                        <div class="alert alert-light row">
                            <div class="col-3">
                                <div class="form-check">
                                    <input type="radio" name="couponAmountGroup"
                                           id="pointRadio"
                                           onclick="selectCouponOption()">
                                    <label class="form-check-label" for="pointRadio">
                                        포인트 쿠폰
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" name="couponAmountGroup"
                                           id="percentRadio"
                                           onclick="selectCouponOption()">
                                    <label class="form-check-label" for="percentRadio">
                                        정률 쿠폰
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" name="couponAmountGroup"
                                           id="amountRadio"
                                           onclick="selectCouponOption()">
                                    <label class="form-check-label" for="amountRadio">
                                        금액 쿠폰
                                    </label>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="col-md-6">
                                    <div id="pointDiv" style="display:none;">
                                        <label for="point">포인트</label>
                                        <input class="form-control" type="number" min="0" id="point"
                                               placeholder="사용시 지급 할 포인트 금액을 입력해주세요."
                                               th:field="${couponInputRequestDto.point}">
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div id="percentDiv" style="display:none;">
                                        <label for="percent">정률</label>
                                        <input class="form-control" type="number" min="0" max="100" id="percent"
                                               placeholder="1부터 100사이의 숫자를 입력해주세요."
                                               th:field="${couponInputRequestDto.percent}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div id="amountDiv" style="display:none;">
                                        <label for="amount">정액</label>
                                        <input class="form-control" type="number" min="0" id="amount"
                                               placeholder="할인 금액을 입력해주세요."
                                               th:field="${couponInputRequestDto.amount}">
                                    </div>
                                </div>
                                <div class="nav">
                                    <div class="col-md-6">
                                        <div id="minDiv" style="display:none;">
                                            <label for="min">최소 이용 가능 금액</label>
                                            <input class="form-control" type="number" min="0" id="min"
                                                   placeholder="쿠폰 적용 기준금액을 입력해주세요."
                                                   th:field="${couponInputRequestDto.standardAmount}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div id="maxDiv" style="display:none;">
                                            <label for="max">최대 할인 금액</label>
                                            <input class="form-control" type="number" min="0" id="max"
                                                   placeholder="쿠폰이 할인 가능한 최대금액을 입력해주세요."
                                                   th:field="${couponInputRequestDto.maxDiscountAmount}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="couponCoverageDiv" style="display:none;">
                            <div class="alert alert-light row">
                                <div class="col-3">
                                    쿠폰 적용범위
                                    <div class="form-check">
                                        <input type="radio" name="couponCoverageGroup"
                                               id="allProductRadio" value="total"
                                               onclick="selectCouponCoverage()">
                                        <label class="form-check-label" for="allProductRadio">
                                            전체
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" name="couponCoverageGroup"
                                               id="categoryRadio" value="category"
                                               onclick="selectCouponCoverage()">
                                        <label class="form-check-label" for="categoryRadio">
                                            카테고리
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" name="couponCoverageGroup"
                                               id="oneProductRadio" value="product"
                                               onclick="selectCouponCoverage()">
                                        <label class="form-check-label" for="oneProductRadio">
                                            상품
                                        </label>
                                    </div>
                                    <div class="form-check" style="display:none;">
                                        <input class="custom-control-input" type="radio" name="couponCoverageGroup"
                                               id="pointCoverageRadio" value="point">
                                        <label class="form-check-label" for="pointCoverageRadio">
                                            포인트
                                        </label>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div id="selectCategoryDiv" style="display:none;">
                                        <div class="row gx-3 mb-3">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <label class="input-group-text"
                                                                   for="mainCategory">대분류</label>
                                                        </div>
                                                        <select class="custom-select" id="mainCategory"
                                                                name="mainCategory">
                                                            <option th:each="mainCategory: ${mainCategoryList}"
                                                                    th:value="${mainCategory.categoryNo}"
                                                                    th:text="${mainCategory.categoryName}">
                                                            </option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-secondary" type="button"
                                                                    onclick="showSubCategory(event)">하위 카테고리 펼치기
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="categoryCheckBox" style="display:none">
                                            </div>
                                        </div>
                                    </div>
                                    <div id="selectProductDiv" style="display:none;">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" for="selectProduct">상품 선택</span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="검색할 상품명을 입력하세요"
                                                   id="selectProduct" name="selectProduct" maxlength="30"
                                                   aria-label="상품명" aria-describedby="basic-addon1">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button" id="confirmBook"
                                                        onclick="showSearchProductList(event)">상품 검색 결과 리스트
                                                </button>
                                            </div>
                                        </div>
                                        <div id="productRadioBox" style="display:none">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="alert alert-light row">
                            <div class="col-md-6">
                                발행 가능일
                                <input type="datetime-local" class="form-control form-control-lg "
                                       id='couponCreatedAt'
                                       th:field="${couponInputRequestDto.couponCreatedAt}"/>
                            </div>
                            <div class="col-md-6">
                                만료일
                                <input type="datetime-local" class="form-control form-control-lg"
                                       id="couponExpiredAt"
                                       th:field="${couponInputRequestDto.couponExpiredAt}"/>
                            </div>
                            <div class="col-6">
                            <label for="usagePeriod">쿠폰 사용 기간(최대 365일)</label>
                            <input class="form-control" type="number" id="usagePeriod" min="1" max="365"
                                   placeholder="입력하지 않으면 쿠폰 사용기간은 쿠폰 만료일까지로 발급됩니다."
                                   th:field="${couponInputRequestDto.usagePeriod}">
                            </div>
                            <div class="col-6">
                                <label for="totalQuantity">수량</label>
                                <input class="form-control" type="number" id="totalQuantity"
                                       placeholder="입력하지 않으면 무제한으로 발급됩니다." min="1" max="10000000"
                                       th:field="${couponInputRequestDto.totalQuantity}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="image">쿠폰 사진넣기</label>
                            <input type="file" class="form-control-file" id="image" accept="image/*"
                                   th:field="${couponInputRequestDto.image}"/>
                        </div>
                    </div>
                </div>
                <input class="btn btn-primary" style="margin-left: 20px" type="submit" id="submit"
                       value="등록하기"/>
            </form>
        </div>
    </div>
    <script th:inline="javascript">
        let failMessage = [[${failMessage}]];
        if (failMessage) {
            Swal.fire('failMessage', '', 'error');
        }
        let now_utc = Date.now()
        let timeOff = new Date().getTimezoneOffset() * 60000;
        let today_date = new Date(now_utc - timeOff).toISOString().substring(0, 11) + "00:00";
        let today = new Date(now_utc - timeOff).toISOString().substring(0, 16);
        let max_year = new Date(2099, 11, 32, 8, 59, 59).toISOString().substring(0, 16);

        document.getElementById("couponCreatedAt").setAttribute("min", today_date);
        document.getElementById("couponCreatedAt").setAttribute("max", max_year);
        document.getElementById('couponCreatedAt').value = today;

        document.getElementById("couponExpiredAt").setAttribute("min", today);
        document.getElementById("couponExpiredAt").setAttribute("max", max_year);

    </script>
</div>
</html>

