<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminpage/default-layout}">
<head>
    <meta charset="UTF-8">
    <title>categoryList</title>
</head>

<div layout:fragment="content">

    <h1 style="text-align: center">쿠폰 목록</h1>
    <button style="width: auto; margin-left: 10px" class="btn btn-primary" th:onclick="|location.href='/admin/coupons/list'|">
        전체 쿠폰
    </button>
    <button style="width: auto; margin-left: 10px" class="btn btn-primary" th:onclick="|location.href='/admin/coupons/list?coverage=total'|">
        전체 쿠폰
    </button>
    <button style="width: auto; margin-left: 10px" class="btn btn-primary" th:onclick="|location.href='/admin/coupons/list?coverage=product'|">
        상품 쿠폰
    </button>
    <button style="width: auto; margin-left: 10px" class="btn btn-primary" th:onclick="|location.href='/admin/coupons/list?coverage=category'|">
        카테고리 쿠폰
    </button>
    <div class="container">
        <table class="table table-striped" style="text-align: center">
            <thead>
            <tr>
                <th><span>번호</span></th>
                <th style="width: 10%"><span>타입</span></th>
                <th style="width: 15%"><span>이름</span></th>
                <th style="width: 19%"><span>코드</span></th>
                <th style="width: 9%"><span>쿠폰혜택</span></th>
                <th><span>적용범위</span></th>
                <th style="width: 9%"><span>발급수량</span></th>
                <th style="width: 17%"><span>발급기간</span></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="coupon : ${pageResponse.getContent()}">

                <td>
                    <span th:text="${coupon.couponNo}"></span>
                </td>
                <td>
                    <span th:text="${coupon.couponType}"></span>
                </td>
                <td style="text-align: left">
                    <span th:text="${coupon.name}"></span>
                </td>
                <td >
                    <span th:text="${coupon.code}"></span>
                </td>
                <td th:if="${coupon.amount!=0}">
                    <span th:text="${coupon.amount} + '원 할인'"></span>
                </td>
                <td th:if="${coupon.percent!=0}">
                    <span th:text="${coupon.percent} +'% 할인'"></span>
                </td>
                <td th:if="${coupon.point!=0}">
                    <span th:text="${coupon.point} + ' 포인트 적립'"></span>
                </td>
                <td th:if="${coupon.point!=0}">
                    포인트 쿠폰
                </td>
                <td th:if="${not #strings.isEmpty(coupon.categoryName)}">
                    <span th:text="${coupon.parentCategoryName}"></span><br>
                    - <span th:text="${coupon.categoryName}"></span>
                </td>
                <td th:if="${not #strings.isEmpty(coupon.productName)}">
                    <span th:text="${coupon.productNo}"></span>.
                    <span th:text="${coupon.productName}"></span>
                </td>
                <td th:if="${#strings.isEmpty(coupon.productName) and #strings.isEmpty(coupon.categoryName) and coupon.point==0}">
                    전체 상품
                </td>
                <td th:if="${coupon.totalQuantity==0}">
                    <span th:text="${coupon.issuedQuantity}"></span>
                    / <br> 무제한
                </td>
                <td th:if="${coupon.totalQuantity!=0}">
                    <span th:text="${coupon.issuedQuantity}"></span>
                    / <span th:text="${coupon.totalQuantity}"></span>
                </td>
                <td style="width: 17%">
                    <span th:text="${#temporals.format(coupon.couponCreatedAt, 'yyyy년 MM월 dd일')}"></span>
                    <br>
                    <span th:text="${#temporals.format(coupon.couponExpiredAt, '~ yyyy년 MM월 dd일')}"></span>
                </td>

            </tr>
            </tbody>
        </table>
        </table>
        <th:block th:include="component/pageFooter"></th:block>

    </div>

</div>

</html>