<head>

    <div th:fragment="adminpage-css-fragment">

        <!--Admin page css-->
        <link href="/adminpage/css/index.css" rel="stylesheet">
        <link href="/adminpage/css/side.css" rel="stylesheet">
        <link href="/adminpage/css/global.css" rel="stylesheet" >
        <link href="/adminpage/css/deliveryForm.css" rel="stylesheet" >
        <link href="/adminpage/css/header.css" rel="stylesheet" >

        <!--Main page css-->
        <link href="/mainpage/css/logo.css" rel="stylesheet" >
    </div>

</head>
