<head>

    <div th:fragment="adminpage-css-fragment">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/common/js/validation.js"></script>
        <!--Admin page css-->
        <link href="/adminpage/css/index.css" rel="stylesheet">
        <link href="/adminpage/css/side.css" rel="stylesheet">
        <link href="/adminpage/css/global.css" rel="stylesheet" >
        <link href="/adminpage/css/deliveryForm.css" rel="stylesheet" >
        <link href="/adminpage/css/header.css" rel="stylesheet" >
                <!--Main page css-->
        <link rel="stylesheet" href="/mainpage/css/category.css">
        <link href="/mainpage/css/logo.css" rel="stylesheet" >
    </div>

</head>
