/* layout */

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* padding: 0 20px; */
    height: 50px;
    background-color: #1869b3;
}


.header_columns {

    display: flex;
    align-items: center;
    justify-content: center;
}

.header_columns_column {
    width: 85px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
}


/* style */

.header_columns img {
    height: 120px;
}

.header_columns_column a {
    text-decoration: none;
    color: #99ccff;
    font-size: 12px;
}




